@import "../../stylesheet/variables";
@import "../../stylesheet/mixin";
@import "../../stylesheet/common/button";
@import "../../stylesheet/arrow_button_rotatable";
@import "../../stylesheet/home_svg";
@import "../../stylesheet/treecounter.css";
@import "../../stylesheet/layer.css";
@import "../../stylesheet/common/text";
@import "../../stylesheet/donateTrees/donate_trees";
@import "../../stylesheet/common/modal_dialog";
@import "../../stylesheet/treeCounter/tpo_footer";

.row {
  display: flex;
}

.planted-project-progressbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #d2e3af;
  height: 34px;
  .tree-planted-container {
    height: 100%;
    display: flex;
    width: 100%;
    position: relative;
    .tree-count-container {
      display: flex;
      flex-direction: row;
      position: absolute;
      align-items: center;
      height: 100%;
      padding-left: 5px;
      .treePlantedtextTrees {
        padding-left: 5px;
      }

      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.38;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
    }
    .tree-width-container {
      height: 100%;
      display: flex;
      background-color: #b9d384;
      border-color: #b9d384;
      padding-right: 10px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      border-width: 0.5px;
    }
    .empty-tree-container {
      height: 100%;
      display: flex;
      padding: 5;
    }
  }
  .targetContainer {
    width: 100%;
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #61695e;
    .target-icon-container {
      padding: 5px;
      width: 20px;
      height: 20px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.plant-button {
  @extend .pftp-button-rounded;
  background-color: $colorPrimaryAccent;
  border: none;
  width: inherit;
  font-size: 24px;
}

.overlay-container {
  display: flex;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  border: 0px;
  margin: 0px;
  padding: 0px;
  z-index: 2147483647;
  transition: opacity 150ms ease 0s;
  align-items: center;
  justify-content: center;
  opacity: 1;
  background: rgba(0, 0, 0, 0.8);
}
.tooltip {
  height: 25px;
  width: 25px;
  display: inline;
  margin: 0;
  margin-left: 5px;
}

.tooltip-text {
  display: flex;
}

.__react_component_tooltip {
  width: 200px;

  @include for-phone-only {
    width: 100px;
  }
}

.pftp-button-secondary {
  width: 40%;
  align-self: flex-end;
  margin-right: 20px;
  outline: none;
  @include for-phone-only {
    font-size: 14px;
  }
}
.pftp-widget-img {
  align-self: flex-start;
  width: 30%;
  flex-grow: 10;
}
.pftp-widget-row {
  // margin-right: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.pftp-widget-img__container {
  outline: none;
  flex: 10;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
