.app-container__content--center {
  .leader-board__container {
    @extend .pftp-card-layout;
    max-width: 718px;
    box-sizing: border-box;
    width: 100%;
    padding: 28px 45px 41px;
    @include for-xs-phone-only {
      max-width: 290px !important;
    }
    @include for-phone-only {
      max-width: 350px !important;
    }

    .leaderboard-list__sort {
      border-radius: 5px;
      background-color: #f6f6f6;
      display: flex;
      margin-top: 23px;
      @include for-phone-only {
        flex-direction: column;
        align-items: start;
        justify-content: center;
      }
      .sort-container {
        @include for-phone-only {
          font-size: 12px;
        }
        font-size: 15px;
        margin-left: 25px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        span {
          @extend .pftp-text-basic;
          @include for-phone-only {
            font-size: 12px;
          }
          font-family: Myriad Pro;
          font-size: 15px;
          text-align: left;
          color: #b7d37f;
        }

        .pftp-selectfield {
          margin: 0;
          .pftp-selectfield__select {
            @include for-phone-only {
              font-size: 12px;
            }
            border: none;
            background-color: #f6f6f6;
            height: 43px;
          }
        }
      }
    }

    .pftp-tabs {
      width: 100%;
      .leader-board__sub-container {
        width: 100%;
      }
      .map-tab__container {
        height: 602px;
        width: 100%;
        .map-tab-checkboxes-row {
          display: flex;
          width: 100%;
          justify-content: space-between;
          margin-top: 37px;
        }
      }
    }
    .leaderboard-list__table {
      width: 100%;
      height: 405px;
      overflow-y: scroll;
      border-radius: 6px;
      border: solid 2px #efefef;
      margin-top: 8px;
      overflow-x: hidden;
      .leaderboard-table {
        display: flex;
        flex-direction: column;
        width: 100%;
        .table-body {
          .table-row:nth-child(even) {
            @include for-phone-only {
              background-color: #f6f6f6;
            }
          }
        }

        .table-header {
          @include for-phone-only {
            display: none;
          }
          display: flex;
          border-bottom: 2px solid #e6e6e6;
          .table-header-item {
            display: flex;
            padding-left: 15px;
            justify-content: flex-start;
          }
          .other {
            flex: 0 0 22%;
          }
          .country {
            flex: 0 0 50%;
          }
        }
        .table-row {
          display: flex;
          padding: 7px 0;
          @include for-phone-only {
            padding: 10px 0;
          }

          .table-col {
            display: flex;
            @include for-phone-only {
              padding: 10px 0;
            }
            padding-left: 15px;
            justify-content: flex-start;
            .table-col-phone-header {
              display: none;
            }
          }
          .other {
            flex: 0 0 22%;
          }
          .country {
            flex: 0 0 50%;
            .countryIndex {
              width: 20%;
            }
          }
        }

        @include for-phone-only {
          .table-row {
            display: flex;
            flex-wrap: wrap;
            font-size: 11px;
            .table-col {
              display: flex;
              padding-left: 5px;
              .table-col-phone-header {
                display: block;
              }
            }
            .other {
              justify-content: space-between;
              flex: 0 0 100%;
            }
            .country {
              flex: 0 0 100%;
              border-bottom: 2px solid #e6e6e6;
              .countryIndex {
                width: 5%;
                padding-right: 10px;
              }
            }
          }
        }
      }
    }
    .leaderboard_images__container {
      margin-top: 28px;
      display: flex;
      justify-content: space-between;
      @include for-phone-only {
        overflow: auto;
      }
      // overflow-x: auto;
      .leaderboard_image__container {
        @include for-phone-only {
          margin-right: 10px;
          font-size: 12px;
        }
        display: flex;
        flex-direction: column;
        font-size: 16px;
        color: #e6e6e6;
        padding-top: 5px;
        max-width: 76px;
        align-items: center;

        .imageContainer {
          width: 76px;
          height: 76px;
          margin-bottom: 4px;
          @include for-phone-only {
            width: 66px;
            height: 66px;
            img {
              width: 66px;
              height: 66px;
            }
          }
        }
      }
    }
  }
}
