@import "../../stylesheet/variables";
@import "../../stylesheet/mixin";
@import "../../stylesheet/common/button";

.pftp-basic-widget-container {
  padding: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  outline: none;
  @include for-xs-phone-only {
    flex-direction: column;
  }
  img {
    display: block;
  }
  background-color: $hoverColor;
  .planted-text {
    @include pftp-text-basic(24, black);
    font-weight: 500;
    padding: 20px;
  }
  .plant-button {
    @extend .pftp-button-rounded;
    background-color: $colorPrimaryAccent;
    border: none;
    width: inherit;
    font-size: 24px;
  }
}
