{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    // "max-len": [1, 70, 2, {"ignoreComments": true}],
    // "prop-types": [2]
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}
