.signup-types {
  display: flex;
  @include for-phone-only {
    overflow-x: auto;
    width: 100%;
  }
}
.signup-type {
  max-width: 120px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  cursor: pointer;

  &.active {
    .signupTypeImage {
      border-color: $colorPrimary;
      height: 100px;
      width: 100px;
    }
    div {
      color: $colorPrimary;
    }
    .signup-type__text {
      hr {
        border-color: $colorPrimary;
      }
    }
  }
  .signupTypeImage {
    height: 80px;
    width: 80px;
    margin-bottom: 10px;
    border: 10px solid gray;
    border-radius: 50%;
  }
  img {
    height: 100%;
    width: 100%;
  }
  .signup-type__text {
    width: 100%;
    hr {
      border: 1px solid gray;
      width: 100%;
    }
  }
}
