.signup-types {
  display: flex;

  .signup-type {
    max-width: 120px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 20px;

    &.active {
      img {
        height: 100px;
        border-color: $colorPrimary;
      }
      div {
        color: $colorPrimary;
      }
      .signup-type__text {
        hr {
          border-color: $colorPrimary;
        }
      }
    }
    img {
      height: 80px;
      margin-bottom: 10px;
      border: 10px solid gray;
      border-radius: 50%;
    }
    .signup-type__text {
      width: 100%;
      hr {
        border: 1px solid gray;
        width: 100%;
      }
    }

  }
}
