.edit-user-profile__container {
  .pftp-button-primary {
    width: fit-content;
    margin: auto;
    min-width: 266px;
  }

  .tComb-template-form-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 20px;
    column-gap: 54px;
    align-self: normal;
  }

  .form-group {
    @extend .pftp-card-layout;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 718px;
    box-sizing: border-box;
    width: 100%;
    padding: 28px 23px 23px 40px;
  }
  .user-profile__form-group {
    @extend .form-group;
    .profile-image__container {
      margin-bottom: 25px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .form-group__heading {
      @extend .pftp-text-basic;
      font-size: 16px;
      text-align: left;
      color: #b7d37f;
      align-self: flex-start;
      padding-left: 6px;
      margin-bottom: 20px;
    }
    .tComb-template__profile-form {
      @extend .tComb-template-form-group;
    }
    .tComb-template__about-me-form {
      @extend .tComb-template-form-group;
      column-gap: 82px;
    }
    .tComb-template__password-form {
      @extend .tComb-template-form-group;
      column-gap: 211px;
    }
  }
}

@media only screen and (max-width: $breakpointTablet) {
  .edit-user-profile__container {
    .tComb-template-form-group {
      grid-template-columns: 1fr;
    }
    .form-group {
      max-width: 650px;
    }
  }
}
