$bannerBackground: #f7f7f7;
$bannerCloseButtonColor: #707070;
$bannerAuthorColor: #202125;
.smartbanner-container {
  background: $bannerBackground;
  text-shadow: none;
  .smartbanner-close {
    background: none;
    border: none;
    box-shadow: none;
    color: $bannerCloseButtonColor;
    text-shadow: none;
    font-size: 29px;
  }
  .smartbanner-button {
    background: $avocado;
    box-shadow: none;
    color: white;
  }
  .smartbanner-info {
    width: calc(99% - 142px);
  }
  .smartbanner-wrapper {
    max-width: 20px;
  }
  .smartbanner-button-text {
    background: none;
    line-height: 1rem;
    padding: 3px 11px;
  }
  .smartbanner-title {
    @extend .pftp-text-basic;
    color: black;
    text-shadow: none;
    font-weight: 700;
    line-height: 1rem;
    font-size: 0.9rem;
    letter-spacing: 1px;
  }
  .smartbanner-author, .smartbanner-description {
    @extend .pftp-text-basic;
    color: $bannerAuthorColor;
    text-shadow: none;
    line-height: 1rem;
  }
}
.smartbanner-ios .smartbanner-button {
  padding: 0 1px;
}