.app {
  display: flex;
  flex-direction: column;

  .app-container {
    display: flex;
    flex-direction: column;

    .app-container__sidenav {
      width: 250px;
      background: white;
      box-shadow: 2px 0px 2px -1px rgba(0, 0, 0, 0.14);
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 999;
      transition: all 0.5s ease-in-out;
      padding-top: 50px;
      overflow: auto;

      .app-container__sidenav--image {
        img {
          height: 130px;
          margin: 0 20px;
        }
      }
      .app-container__sidenav--heading {
        font-weight: bold;
        display: inline-block;
        margin: 10px 20px;
        border-bottom: 3px solid #BAD788
      }
      .app-container__sidenav--list {
        list-style-type: none;
        padding: 0 20px;

        li {
          display: flex;
          padding: 5px 2px;
	  &:hover {
             background: #f1f1f1;
    	     border-radius: 8px;
          }
          a {
            padding-left: 3px;
            color: rgba(0,0,0,0.54);
            font-size: 17px;
	    text-decoration: none;
            &:hover {
              text-decoration: none;
              color: $colorPrimaryAccent;
            }
          }
        }
      }
    }
    .app-container__content {
      flex: 1;
    }
  }
}
