#root {
  display: flex;
  flex-direction: column;
  flex: 1;

  .app {
    display: flex;
    flex-direction: column;
    flex: 1;

    .app-container {
      display: flex;
      flex-direction: column;
      flex: 1;

      .app-container__sidenav {
        display: flex;
        flex-direction: column;
        width: 250px;
        background: white;
        opacity: 0.95;
        box-shadow: 0px 4px 12px 0 rgba(0, 0, 0, 0.1);
        position: fixed;
        top: 0;
        bottom: 100px;
        left: 0;
        z-index: 999;
        transition: all 0.5s ease-in-out;
        padding-top: 50px;
        overflow: auto;

        .app-container__sidenav--image {
          height: 124px;
          width: 124px;
          margin:1px auto;
          border-radius: 50%;
          margin-top: 24px;
          text-align: center;

          img {
            height: 100px;
            width: 100x;
            box-sizing: border-box;
            padding: 10px;
          }
        }
        .app-container__sidenav--heading {
          font-weight: bold;
          display: inline-block;
          margin: 10px 15px;
          border-bottom: 3px solid #bad788;
          a {
            color: #68605f;
          }
        }
        .app-container__sidenav--list {
          list-style-type: none;
          padding: 0 15px;

          li {
            display: flex;
            padding: 5px 2px;

            &:hover {
              background: #f1f1f1;
              border-radius: 8px;
            }

            a {
              padding-left: 3px;
              font-size: 17px;
              text-decoration: none;

              &:hover {
                text-decoration: none;
                color: $colorPrimaryAccent;
              }
            }
          }
        }
        .share_buttons {
          display: flex;
          margin-left: 15px;

          img {
            height: 20px;
            margin-right: 10px;
          }
        }
      }

      .menu_item_selected {
        a {
          color: #ec6453;
        }
      }

      .menu_item_unselected {
        a {
          color: rgba(0, 0, 0, 0.54);
        }
      }
      .app-container__content {
        flex: 1;
        display: flex;
        margin-top: 49px;
        // background-color: #eae8e8;
        justify-content: center;
        align-items: center;

        .app-container__content--center {
          display: flex;
          width: 100%;
          height: 100%;
          flex-direction: column;
          align-items: center;
          position: relative;
        }
        @include for-ios-only {
          overflow-x: hidden;
        }
      }
    }
  }
}

input:required {
  box-shadow: none;
}