.pftp-button-primary {
  background-color: $colorPrimary;
  box-shadow: $boxShadow;
  border: none;
  color: white;
  padding: 20px;
  font-size: 24px;
  display: flex;
  width: 100%;
  border-radius: 7px;
  margin: 10px 0;
}
