.challenge__container {
  padding: 20px;
  width: auto;

  input[type="number"] {
    border: none;
    border-radius: 0;
    margin-left: 5px;
    padding: 0;
    width: 60px;
    border-bottom: 1px solid mix(white, #424242, 70%);
  }

  input[type="radio"] {
    margin-right: 5px;
    margin-top: 3px;
  }

  .number_trees {
    margin-top: 20px;
    width: 350px;

    .input_trees {
      display: flex;
      width: 80px;
      margin: auto;
    }
  }

  .trees_by_time {
    display: flex;
    width: 60%;
    margin: auto;
    margin-top: 20px;

    .radio_margin_left {
      margin-left: 35px;
    }
  }
}

.challenge_card {
  .pftp-card-layout {
    padding: 24px;
    width: 464px;
    margin: 20px;
    margin-bottom: 0;
  }
  .flex-row {
    display: flex;
    flex-direction: row;
  }

  .limit-width {
    width: 310px;
  }

  .challenge_details {
    margin: 5px 10px;
  }

  .arrow_image {
    height: 15px;
    padding: 8px 0 0 5px;
  }

  .button_align {
    margin: auto;
  }

  .goal-style {
    font-size: 18px;
    font-weight: 600;
    color: #89b53a;
    display: flex;
    margin-bottom: 18px;
  }

  .text-padding {
    padding-top: 5px;
    padding-left: 5px;
  }

  .text-style {
    font-size: 16px;
  }

  .header-logo {
    width: 76px;
    height: 76px;

    img {
      height: 70px;
      width: 70px;
      border: solid 3px #ffffff;
    }
  }

  .button-width {
    width: 130px;
    font-size: 18px;
    margin-left: 20px;
  }

  .status-label {
    background-color: #e0e0e0;
    padding: 10px;
    text-transform: capitalize;
    border-radius: 6px;
    overflow: 'hidden';
    margin-left: 20px;
    margin-top: 40px;
    width: 110px;
    height: 25px;
    text-align: center;
  }
}