.notification-popover {
  list-style-type: none;
  padding: 0;
}

.account-popover {
  display: flex;

  i {
    font-size: 36px;
    padding-right: 10px;
  }

  .account-popover__content {
    display: flex;
    flex-direction: column;
    a {
      font-size: 14px;
      padding-top: 10px;
      cursor: pointer;
    }
  }
}
