.app-container__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: white;

  .footer-logo {
    height: 69px;
    @include for-phone-only {
      display: none;
    }
  }
  .footer-logo-mobile {
    display: none;
    @include for-phone-only {
      display: block;
      height: 69px;
    }
  }
}
