.app-header {
  padding: 6px;
  background-color: $colorPrimary;
  display: flex;
  align-items: center;
  z-index: 1000;

  form {
    display: flex;
    flex: 2;
    justify-content: flex-end;

    input {
      border-radius: 5px !important;
    }
  }

  .popover__list-item {
    display: flex;
    flex-direction: column;
    padding: 20px;

    .gap-14 {
      margin-bottom: 15px;
    }
  }

  .popover__divider {
    background-color: #cccccc;
    outline: none;
    border: none;
    height: 2px;
    margin: 0 15px;
  }

  .popover__action-link {
    padding: 10px;
    margin: auto;
  }

  .help-icons {
    height: 20px;
    width: 20px;
    margin-right: 10px;
  }

  .popover__green-text {
    font-size: 14px;
    line-height: 1.5;
    color: #b7d37f;
  }

  .list-item__wrapper {
    display: flex;
  }

  .profile-image {
    height: 30px;
    width: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 15px;
  }

  .image-rounded-border {
    border: 1px solid;
    border-radius: 100%;
  }

  & .app-header__home {
    flex: 1;
    cursor: pointer;
    display: flex;
    align-items: center;

    a {
      display: flex;

      &:hover {
        text-decoration: none;
      }
    }

    i {
      padding: 0 5px;
      color: white;
    }
    .burger-icon {
      display: none;
    }
  }

  .header-icons {
    display: flex;
    color: white;
    text-align: right;

    .btn:focus {
      outline: none;
    }
    .btn {
      color: white;
    }

    .rounded-buttons {
      margin-right: 10px;
      padding: 5px 10px;
      font-size: 12px;
      border: 1px solid;
      line-height: 1.5;
      border-radius: 20px;
    }
  }
  .no-login {
    padding: 0 20px;

    a {
      color: white;
    }
  }
}
