.app-header {
  padding: 6px;
  background-color: $colorPrimary;
  display: flex;
  width: 100%;
  position: fixed;
  align-items: center;
  z-index: 1000;

  .bell-icon {
    position: relative;
    top: -6px;
  }

  .unread-circle {
    background-color: #ec6453;
    height: 12px;
    display: flex;
    align-items: center;
    position: relative;
    display: flex;
    right: -10px;
    top: 4px;
    z-index: 1000;
    padding: 3px;
    width: 12px;
    border-radius: 100%;
    font-size: 11px;
    .unread-number-align {
      display: block;
      margin: auto;
      line-height: 0.95;
    }
  }
  .adjust-zindex {
    background-color: transparent;
    color: transparent;
  }
  form {
    display: flex;
    flex: 2;
    justify-content: flex-end;

    input {
      border-radius: 5px !important;
    }
  }

  .popover__list-item {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    font-size: 13.5px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.48;
    letter-spacing: normal;
    text-align: left;
    padding-top: 10px;
    color: #9c9b9b;
    .dedicate-trees {
      display: flex;
      .tooltip {
        height: 15px;
        width: 15px;
        margin: 0;
        margin-left: 5px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .pick-profile-container {
      padding-top: 10px;
      display: flex;
      align-items: center;
      img {
        width: 20px;
        height: 20px;
      }
      .pick-profile-username {
        padding: 0px 10px;
      }
    }
    .pick-profile-primary-button {
      width: 96px;
      height: 22px;
      border-radius: 3px;
      background-color: #b7d37f;

      font-size: 12px;
      margin: 0px;
      padding: 0px;
    }

    .gap-14 {
      margin-bottom: 15px;
    }
  }

  .popover__action-link {
    padding-top: 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  .pftp-popover-notification {
    .pftp-popover__container {
      @include for-phone-only {
        min-width: initial;
      }
    }
  }
  .popover__no_notification {
    @extend .popover__action-link;
    font-weight: normal;
    cursor: initial;
    padding: 2%;
    color: $spanTextColor;
  }
  .help-icons {
    height: 20px;
    width: 20px;
    margin-right: 10px;
  }

  .popover__green-text {
    font-size: 14px;
    line-height: 1.5;
    color: #b7d37f;
  }

  .list-item__wrapper {
    display: flex;
    align-items: center;
    max-width: 300px;
    color: #9c9b9b;

    img {
      padding-right: 10px;
      border-radius: 100%;
    }

    span {
      display: flex;
      margin: auto;
      padding: 10px;
    }

    .item-html__wrapper {
      display: inline-block;
      text-align: left;
      margin-left: 10px;
      font-family: Open Sans;
      a {
        color: #686060;
        font-weight: bold;
      }
    }
  }

  .image-rounded-border {
    border: 1px solid;
    background-color: #fff;
    border-radius: 100%;
  }

  & .app-header__home {
    flex: 1;
    cursor: pointer;
    display: flex;
    align-items: center;

    a {
      display: flex;

      &:hover {
        text-decoration: none;
      }
    }

    i {
      padding: 0 5px;
      color: white;
    }
    .burger-icon {
      display: none;
    }
  }

  .header-icons {
    display: flex;
    color: white;
    text-align: right;
    margin-right: 30px;

    .btn:focus {
      outline: none;
    }
    .btn {
      color: white;
    }
    &.hidden {
      visibility: hidden;
    }
  }
  .no-login {
    padding: 0 20px;

    a {
      color: white;
    }
  }
}
