.pftp-heading {
  font-family: OpenSans;
  font-size: 41px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #575756;
  border-bottom: 3px solid #BAD788;
  padding-bottom: 20px;
}
