.app-header {
  padding: 6px;
  background-color: $colorPrimary;
  display: flex;
  width: 100%;
  position: fixed;
  align-items: center;
  z-index: 1000;

  .notification-bell {
    margin-top: 7px;
  }

  .unread-circle {
    background-color: #ec6453;
    height: 12px;
    display: flex;
    align-items: center;
    position: absolute;
    display: flex;
    right: 62px;
    top: 10px;
    padding: 3px;
    width: 12px;
    border-radius: 100%;
    font-size: 11px;
    .unread-number-align {
      display: block;
      margin: auto;
      line-height: 0.95;
    }
  }
  form {
    display: flex;
    flex: 2;
    justify-content: flex-end;

    input {
      border-radius: 5px !important;
    }
  }

  .popover__list-item {
    display: flex;
    flex-direction: column;
    padding: 10px 0;

    .gap-14 {
      margin-bottom: 15px;
    }
  }

  .popover__action-link {
    padding-top: 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  .help-icons {
    height: 20px;
    width: 20px;
    margin-right: 10px;
  }

  .popover__green-text {
    font-size: 14px;
    line-height: 1.5;
    color: #b7d37f;
  }

  .list-item__wrapper {
    display: flex;
    align-items: center;
    max-width: 300px;
    color: #9c9b9b;

    img {
      padding-right: 10px;
    }

    span {
      display: flex;
      margin: auto;
      padding: 10px;
    }

    .item-html__wrapper {
      display: inline-block;
      text-align: left;
      margin-left: 10px;
      font-family: Open Sans;
      a {
        color: #686060;
        font-weight: bold;
      }
    }
  }

  .image-rounded-border {
    border: 1px solid;
    border-radius: 100%;
  }

  & .app-header__home {
    flex: 1;
    cursor: pointer;
    display: flex;
    align-items: center;

    a {
      display: flex;

      &:hover {
        text-decoration: none;
      }
    }

    i {
      padding: 0 5px;
      color: white;
    }
    .burger-icon {
      display: none;
    }
  }

  .header-icons {
    display: flex;
    color: white;
    text-align: right;

    .btn:focus {
      outline: none;
    }
    .btn {
      color: white;
    }
  }
  .no-login {
    padding: 0 20px;

    a {
      color: white;
    }
  }
}
