.svg-text-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  background-color: transparent;
  box-shadow: none;
  padding: 20px;
  margin-bottom: 20px;

  .svg-text-container__row {
    display: grid;
    grid-template-columns: 46px auto auto;
    align-items: center;
    grid-column-gap: 12px;
    position: relative;
    @include for-phone-only {
      grid-column-gap: 5px;
    }

    span,
    .textLabel {
      @extend .pftp-text-span;
      font-size: 13.5px;
    }

    .tooltip-text {
      color: #ffffff;
    }

    img {
      max-width: 46px;
    }
    .smallImage {
      width: 15px;
      margin-left: 6px;
    }
    strong {
      @extend .pftp-text-basic;
      font-size: 28.5px;
      font-weight: 600;
      text-align: left;
      color: $headerTextColor;
      @include for-phone-only {
        font-size: 15.5px;
      }
    }
    strong.small {
      font-size: 22.5px;
      @include for-phone-only {
        font-size: 15.5px;
      }
    }
    .svg-text-container__row--col2 {
      // align-self: end;
      justify-self: end;
    }
    .closeContainer {
      max-width: 25px;
    }
    .community_row {
      display: flex;
      .communtiy_col {
        align-self: center;
      }
    }
  }

  .svg-text-container__bar {
    width: 120px;
    height: 3px;
    margin: 27px auto;
    background-color: $colorPrimary;
    border: 0;
    @include for-phone-only {
      margin: 13px auto;
    }
    @include for-xs-phone-only {
      margin: 7px auto;
    }
  }

  .fixed-planted-details {
    position: absolute;
    right: 0;
    bottom: -120px;
    padding: 0px;

    img {
      height: 15px;
      vertical-align: middle;
    }
    @include for-phone-only {
      font-size: 8px;
      right: 0;
      left: 30px;
      bottom: -5px;
      padding: 0px;
      img {
        height: 11px;
        vertical-align: middle;
      }
    }
  }

  .fixed-target-comment {
    position: absolute;
    // Magic Numbers
    right: -15px;
    top: 80px;
  }
}

@media only screen and (min-width: 1100px) {
  .svg-text-container {
    // Centering the div
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    // Removing card layout
    background-color: transparent;
    box-shadow: none;

    .fixed-planted-details {
      position: absolute;
      right: 0;
      bottom: -50px;
      padding: 0px;
    }

    .fixed-target-comment {
      position: absolute;
      // Magic Numbers
      right: -15px;
      top: 80px;
    }
  }
}
