.pledge-form {
  @extend .pftp-card-layout;
  width: 40%;
  .content-header_container {
    height: 80px;
    width: calc(100% + 120px);
    margin-bottom: 30px;
    margin-top: -60px;
    font-size: 24px;
  }

  .pftp-button-primary {
    width: 70%;
  }

  .row {
    display: flex;
    justify-content: space-between;

    .half {
      width: 45%;
    }
  }

  .tree-count {
    width: 45%;
    margin: 40px auto;
  }

  .pftp-text-block {
    margin: 0 -20px;
    text-align: left;
  }
}
