.pledge-form {
  @extend .pftp-card-layout;
  width: 40%;

  @include for-phone-only {
    width: 65%;
  }
  .content-header_container {
    height: 80px;
    width: calc(100% + 120px);
    margin-bottom: 30px;
    margin-top: -60px;
    font-size: 24px;
  }

  .pftp-button-primary {
    width: 70%;
  }

  .row {
    display: flex;
    justify-content: space-between;

    .half {
      width: 45%;
      @include for-phone-only {
        width: 100%;
      }
    }
  }

  .tree-count {
    width: 45%;
    margin: 40px auto;
  }

  .pftp-text-block {
    margin: 0 -20px;
    text-align: left;
  }
}

.conference_heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  .esri_logo_background {
    background-color: #fff;
    width: 65px;
    border: 6px solid #fff;
    box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.2),
      0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 22px 5px;
    border-radius: 100%;
    height: 25px;
    margin-right: 15px;
    display: flex;
  }
  img {
    width: 60px;
  }
}

.total_trees {
  @extend .pftp-card-layout;
  padding: 15px 30px;
  color: #799a4c;

  .total_number {
    font-weight: 800;
    letter-spacing: 2px;
  }

  .total_text {
    color: #b7d37f;
  }
}

.recent-pledges {
  @extend .pftp-card-layout;
  padding: 20px;
  width: 320px;
  .recent-pledges-table {
    border-radius: 6px;
    border-spacing: 0;
    border: solid 2px #efefef;
    padding: 10px;
    color: #686060;
    width: 100%;

    .row-list-item {
      display: flex;
      justify-content: space-between;
      padding: 5px;
    }
  }
  .pledges-header {
    border-bottom: solid 2px #efefef;
  }

  .pledges-list {
    overflow: auto;
    height: 200px;
    flex-direction: column;
  }

  .pledges-list::-webkit-scrollbar {
    display: none;
  }

  .before_table_header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    color: #b7d37f;
    img {
      height: 35px;
      margin-right: 10px;
    }
  }
}

.row {
  display: flex;
  @include for-phone-only {
    flex-direction: column;
  }
}
