.pledge-form {

  @include for-phone-only {
    width: 100%;
  }
  
  .pftp-button-primary {
    width: 70%;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .half {
      width: 45%;
    }
  }

  .tree-count {
    width: 45%;
  }

  .pftp-text-block {
    margin: 0 -20px;
    text-align: left;
  }
}

.conference_heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  flex-direction: column;
  .esri_logo_background {
    background-color: #fff;
    width:76px;
    border-radius: 38px;
    height: 76px;
    display: flex;
    border:1px solid rgb(85, 84, 84);
    justify-content:center;
    margin-bottom: 18px;
  }
  img {
    max-height: 76px;
    border-radius: 38px;
    object-fit: contain;
  }
}

.total_number {
  font-weight: 800;
  letter-spacing: 2px;
  color: #89b53a;
}

.pledge_content--center {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  @include for-phone-only {
    //flex-direction : column-reverse;
  }

}

.all-pledges{
  .all-pledges-table {
    color: #686060;
    width: 100%;

    .all-pledges-title{
      font-size: 27px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.48;
  letter-spacing: normal;
  text-align: left;
  color: #4d5153;

    }

    

    .all-pledges-subtitle{
      font-size: 18px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #4d5153;
      margin-bottom: 45px;
      margin-top:8px
    }

    .row-list-item {
      display: flex;
      justify-content: space-between;
      font-family: "OpenSans";
      font-size: 16px;
      color: #4d5153;
      padding: 10px;
      padding-left: 20px;
      padding-right: 20px;

      .row-list-item-rank{
        font-size: 12px 
      }

      .row-list-item-name{ font-size: 12px; margin-left: 12px; font-weight: 600;font-family: 'Open Sans', 'Helvetica Neue', sans-serif }

      .row-list-item-treeCount{ color: #89b53a; font-weight: bold;font-family: 'Open Sans', 'Helvetica Neue', sans-serif }
    }
    .row-list-item:nth-of-type(odd) {background-color: #f2f2f2;}

  }


}
.recent-pledges {
  width: 360px;
  margin: 36px;
  @include for-phone-only{
    width: 300px;
  }

  
  .recent-pledges-table {
    //border-radius: 6px;    
    color: #686060;
    width: 100%;
    //border: solid 1px #89b53a;

    
    .row-list-item {
      display: flex;
      justify-content: space-between;
      font-family: "OpenSans";
      font-size: 16px;
      color: #4d5153;
      padding: 10px;
      padding-left: 20px;
      padding-right: 20px;

      .row-list-item-rank{
        font-size: 12px 
      }

      .row-list-item-name{ font-size: 12px; margin-left: 12px; font-weight: 600;font-family: 'Open Sans', 'Helvetica Neue', sans-serif }

      .row-list-item-treeCount{ color: #89b53a; font-weight: bold;font-family: 'Open Sans', 'Helvetica Neue', sans-serif }
    }
    .row-list-item:nth-of-type(odd) {background-color: #f2f2f2;}

    .row-gold{background-color: #2ecc71!important; span{color: #fff!important;}}
    .row-silver{background-color: #3498db!important; span{color: #fff!important;}}
    .row-bronze{background-color: #f1c40f!important; span{color: #fff!important;}}
  }
  .pledges-header {
    padding: 16px;
    padding-left: 0px;
    padding-right: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: space-between;

    .pledges-header-icon{
      height: 18px;
    }
    .pledges-header-icon:hover{
      cursor: pointer;
    }
  }

  .pledges-list {
    overflow: scroll;
    flex-direction: column;    
    border-top:0px;
    height: 220px;
  }

  .pledges-list::-webkit-scrollbar {
    border-radius: 4px;
  }

  .pledges-list::-webkit-scrollbar-thumb {
    background-color: #d5d5d5;
    border-radius: 4px;
  }

  .before_table_header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    color: #b7d37f;
    img {
      height: 35px;
      margin-right: 10px;
    }
  }
}

.row {
  display: flex;
  @include for-phone-only {
    flex-direction: column;
  }
}

.event-description{
  text-align: left;
  width: 100%;
  max-width: 778px;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 32px;
  @include for-phone-only {
    margin: 32px;
    max-width: 270px;
    font-size: 14px;
  }

.event-description-header{
  margin-bottom: 25px;
  font-weight: bold;
}
}

.make-pledge-button{
  bottom:40px;
  position: fixed;
  border-radius: 100px;
  border: solid 3px #ffffff;
  background-color: #89b53a ;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  padding:18px;
  min-width: 240px;
  text-align: center;
  @include for-phone-only{
    min-width: 180px;
    padding: 12px;
    font-size: 12px;
  }
}

.make-pledge-button:hover{
  border: solid 3px #89b53a;
  background-color: #fff ;
  color: #89b53a;
}

.make-pledge-button-form{
  margin-top: 20px;
  border-radius: 100px;
  border: solid 3px #ffffff;
  background-color: #89b53a ;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  padding:18px;
  min-width: 240px;
  text-align: center;
  @include for-phone-only{
    min-width: 180px;
    padding: 12px;
    font-size: 12px;
    margin-bottom: 30px;
  }
}

.make-pledge-button:hover{
  cursor: pointer;
}

.make-pledge-button-form:hover{
  cursor: pointer;
}


.make-pledge-form-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  p{
    font-size: 27px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.48;
  letter-spacing: normal;
  text-align: left;
  color: #4d5153;
  }
  
}
.make-pledge-form-x{
  text-align: right;
  margin-bottom: 16px;
  @include for-phone-only{
    margin-top: 8px;
  }
  span:hover{
    cursor: pointer;
  }
}
.make-pledge-form-para{
  margin-top:7px;
  margin-bottom: 24px;
  p{
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #4d5153;
  }
}
.event-description-col{
  width: 50%;
  @include for-phone-only{
    width: 100%;
  }
}
.event-gallery{
  padding:16px;
  width: 85%;
  max-width: 778px;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @include for-phone-only{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
  }
}

.event-gallery > img {
  max-height: 30px;
  margin: 12px;
}
.event-gallery > img:first-of-type {
  max-height: 100px;
  @include for-phone-only{
    width:100%;
  }
}
.event-description > p {
  font-size: 16px;
  line-height: 27px;
}
.events_row {
  display: flex;
  justify-content: center;
  margin: 15px;

  .event_item {
    border-radius: 6px;
    //box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border: solid 1.4px #e6e6e6;
    padding: 20px;
    margin:10px;
    // margin-right: 30px;
    cursor: pointer;
    text-align: center;

    .imgContainer {
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 12px;
      img {
        width:50px;
        height:auto;
      }
    }
  }
}

// This overlay is for all the Modals being used
.pledge-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(70, 70, 70, 0.4);
  z-index: 1000;
}

.pledge-content{
  position: absolute;
  top: 50%;
  max-height: 75vh;
  transform: translate(0, -50%);
  left: 40px;
  right: 40px;
  bottom: auto;
  margin: auto;
  width: 360px;
  background: #fff;
  overflow: auto;
  border-radius: 13px;
  outline: none;
  padding: 50px;
  @include for-phone-only{
    width: auto;
    top: 70px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 16px;
    transform: translate(0,0);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: 0px;
  }
}
.submit-pledge-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}
.submit-pledge-buttons-modal{
  position: absolute;
  top: 80px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  margin: auto;
  max-width: 420px;
  max-height: 264px;
  background: #fff;
  overflow: auto;
  border-radius: 13px;
  outline: none;
  padding: 44px;
  @include for-phone-only{
    width: auto;
    top: 70px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    padding: 24px;
  }
}

.pledge-content::-webkit-scrollbar-thumb {
  background-color: #d5d5d5;
  border-radius: 4px;
}

.donate-increase-div{
  width: 50%;
  
  .buttons-webview{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 40px;
    @include for-phone-only{
      display: none;
    }
  }

.buttons-mobileview{
  display: none;
  @include for-phone-only{
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0px;
    left:0px;
    min-height: 88px;

    .buttons-mobileview-container{
      display: flex;
      flex-direction: row;
      width: 100%;
      min-height: 88px;
      align-items: center;

      .left-buttons{
        width: 70%;
        background-color: #f2f2f7;
        min-height: 88px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 20px;

        .trees-pledged{
          font-size: 18px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.17;
          letter-spacing: normal;
          text-align: left;
          color: #89b53a;
        }
        .increase-button{
          font-size: 12px;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: normal;
          text-align: left;
          color: #ec6453;
          margin-top:8px;
        }
      }
      .right-buttons{
        width: 30%;
        background-color: #89b53a;
        min-height: 88px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        .forward-arrow{
          height: 20px;
        }
      }
    }
  }
}
}

.close-button{
  height: 20px;
  @include for-phone-only{
    height: 16px;
  }
}

.donate-pledge-button{
  border-radius: 100px;
  border: solid 3px #ffffff;
  background-color: #89b53a ;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  padding:18px;
  min-width: 240px;
  text-align: center;
}


.donate-pledge-button:hover{
  border: solid 3px #89b53a;
  background-color: #fff ;
  color: #89b53a;
  cursor: pointer;
}

.increase-pledge-button{
  border-radius: 100px;
  border: solid 3px #ffffff;
  background-color: #f3f2f7;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  padding:18px;
  min-width: 240px;
  text-align: center;
}

.increase-pledge-button:hover{
  cursor: pointer;
}

.submit-pledge-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top:30px;

  .submit-pledge-later-button{
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.35;
    letter-spacing: 0.26px;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
    padding: 17px;
    border: solid 1px #d5d5d5;
    min-width: 150px;
  }
  .submit-pledge-later-button:hover{
    cursor: pointer;
  }

  .submit-pledge-donate-button{
    background-color: #89b53a;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.35;
    letter-spacing: 0.26px;
    text-align: center;
    color:#fff;
    padding: 17px;
    min-width: 150px;
  }
  .submit-pledge-donate-button:hover{
    cursor: pointer;
  }
}

.submit-pledge-form-para{
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: 0.28px;
  text-align: center;
  color: #4d5153;
}
