.project-details {
  display: flex;
  flex-direction: column;
  align-items: center;

  .project-details__content {
    display: flex;
    height: 250px;
    width: 600px;

    .project-details__content--left, .project-details__content--right {
      flex: 1;
    }
    .project-details__table {
      display: grid;
      grid-template-columns: 1fr 1fr;

      span:nth-child(2n) {
        text-align: right;
      }
    }
    .project-details__content--left {
      flex: 1;
      display: flex;
      flex-direction: column;
      text-align: left;
          margin-right: 20px;

      .project-details__content--left__name {
        font-weight: bold;
        padding-bottom: 20px;
      }
    }
    .project-details__content--right {
      img {
        height: 100%;
      }
    }
  }

  .project-details__footer {
    display: flex;
    justify-content: space-between;
    width: 600px;
    padding: 20px 0px;
  }
}
