.register-tree__form {
  display: flex;
  flex-direction: column;
  padding-top: 20px;

  .register-tree__form--row {
    display: flex;
    @include for-phone-only {
      flex-direction: column;
    }

    .register-tree__form--row__spacer {
      width: 20px;
    }

    fieldset {
      flex: 1;
      display: flex;
    }
  }
}
