.register-tree__form {
  display: flex;
  flex-direction: column;
  padding-top: 20px;

  .register-tree__form--row {
    display: flex;

    .register-tree__form--row__spacer {
      width: 20px;
    }

    fieldset {
      flex: 1;
    }
  }
}
