$breakpointTablet: 768px;

.sidenav-wrapper {
  margin-left: 250px;
  @include for-phone-only {
    margin-left: 0 !important;
  }
}

.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: $breakpointTablet) {
  .app-container__sidenav {
    left: -250px !important;

    &.open {
      left: 0 !important;
    }
  }
  .app-header {
    &:before {
      content: initial !important;
    }
    & .burger-icon {
      display: block !important;
    }
  }
  .sidenav-wrapper {
    margin-left: 0 !important;
  }
  .badge-wrapper{
    left: -250px !important;
    &.open{
      left:0 !important;
    } 
  }
}
.badge-wrapper {
  max-height: 100px;
  max-width: 240px;
  display: flex;
  flex-wrap: wrap;
  background: white;
  position: fixed;
  bottom: 0;
  padding: 2px 5px;
  flex-direction: row;
  opacity: 0.95;
  box-shadow: 0px 4px 12px 0 rgba(0, 0, 0, 0.1);
  z-index: 999;
  transition: all 0.5s ease-in-out;
  a {
    max-width: 100%;
    img {
      max-width: 99%;
      height: 36px;
    }
  }
  .global-selector {
    display: flex; 
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin-top: 4px;
    // margin:8px;
    margin-bottom: 4px;
    box-sizing: border-box;
  }
  .global-selector > div {
      display: flex;
      justify-content: center;
      flex-direction: row;
      padding: 2px;
      box-sizing: border-box;
      select{
        height: 2.3rem;
        width: 100%;
        padding: 10px;
      }
  }
.language, .currency { 
  max-height: 40px;
  width: 60%; 
  border: 1px solid #686060;
  border-radius: 9px;
  box-sizing: border-box;
  & > div{
    margin:0px
  }
}
  .currency {
    margin-left: 8px;
   width: 36%;
  }

}
