$breakpointTablet: 768px;

.sidenav-wrapper {
  margin-left: 250px;
  @include for-phone-only {
    margin-left: 0 !important;
  }
}

.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: $breakpointTablet) {
  .app-container__sidenav {
    left: -250px !important;

    &.open {
      left: 0 !important;
    }
  }
  .app-header {
    &:before {
      content: initial !important;
    }
    & .burger-icon {
      display: block !important;
    }
  }
  .sidenav-wrapper {
    margin-left: 0 !important;
  }
}
.badge-wrapper {
  max-height: 100px;
  max-width: 98%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  bottom: 0;
  margin-left:3px;
  margin-top: auto;
  flex-direction: row;
  a {
    max-width: 100%;
    img {
      max-width: 99%;
      height: 36px;
    }
  }
  .global-selector {
    display: flex; 
    justify-content: center;
    flex-direction: column;
    width: 50%;
  }
  .global-selector > div {
      display: flex;
      justify-content: center;
      flex-direction: row;
      padding: 2px;
      select{
        height: 2.3rem
      }
  }
.language { 
  max-height: 40px;
  width: 60%; 
  border: 1px solid #686060;
  border-radius: 4px;
  box-sizing: border-box;
  & > div{
    margin:0px
  }
}
.currency {height:40px;  width: 40%; }

}
@media only screen and (min-width: 1400px) {
  .badge-wrapper {
    position: absolute;
  }
}
