.trillion-svg-text {
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 20px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 20px;

  .trillion-svg-text__row {
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;

    img {
      max-height: 90px;
      max-width: 90px;
    }
    span {
      text-transform: capitalize;
    }
    strong {
      font-size: 22px;
    }
  }
}

@media only screen and (min-width: 1100px) {
  .trillion-svg-text {
    // Centering the div
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    // Removing card layout
    background-color: transparent;
    box-shadow: none;
    padding: none;
  }
}

.events_row {
  display: flex;
  justify-content: center;
  margin: 15px;

  .event_item {
    border-radius: 6px;
    box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border: solid 1.4px #e6e6e6;
    padding: 20px;
    // margin-right: 30px;
    cursor: pointer;
    text-align: center;

    img {
      width: 60px;
    }
  }
}
