.contribution-container {
  background: white;
  margin: 20px auto;
  max-width: 600px;
  border-bottom: 1px solid rgba(0,0,0,0.14);

  .contribution-container__card {
    box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.14);
    padding: 10px 10px 30px 10px;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .contribution-container__card--tag {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    background: #bb0a1e;
    color: white;
  }
  
  .contribution-container__card--footer {
    display: flex;
    justify-content: flex-end;
  }

  .cx-card-head{
 	text-transform: capitalize;
	color: #000;
	font-size: 17px;
   }
   
   .contribution-container__card--info{
    font-size: 14px;
    font-family: sans-serif;
    color: #272121;
    padding: 5px;
   }

}

.user-contributions__location--icons {
  display: flex;
  max-width: 600px;
  margin: auto;
  justify-content: space-between;

  .user-contributions__location--icons--container {
    display: flex;
    align-items: center;

    .user-contributions__location--icons--img {
      height: 32px;
    }
  }

}
.my-trees #mapNode {
  width: 600px !important;
  padding-bottom: 20px;
}
.contribution-buttons {
  max-width: 600px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.navigate-button {
  background: #E86F56;
  color: white;
  padding: 5px 40px;
  border-radius: 32px;
  margin: 10px 0px;
  border: none;
}



/* <= IE 7 */
@media screen\9 {

.cx-card-head{
 	text-transform: capitalize;
	color: #000;
	font-size: 17px;
   }
   
.contribution-container__card--info{
	font-size: 14px;
	font-family: sans-serif;
	color: #272121;
	padding: 5px;
    }
}

/* IE 8 */
@media \0screen {

.cx-card-head{
 	text-transform: capitalize;
	color: #000;
	font-size: 17px;
   }
   
.contribution-container__card--info{
	font-size: 14px;
	font-family: sans-serif;
	color: #272121;
	padding: 5px;
    }

}

/* >= IE10 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

.cx-card-head{
 	text-transform: capitalize;
	color: #000;
	font-size: 17px;
   }
   
.contribution-container__card--info{
	font-size: 14px;
	font-family: sans-serif;
	color: #272121;
	padding: 5px;
    }


}


@supports (-ms-ime-align: auto) {
  /* Microsoft EdgeV13&14 CSS styles go here */

.cx-card-head{
 	text-transform: capitalize;
	color: #000;
	font-size: 17px;
   }
   
.contribution-container__card--info{
	font-size: 14px;
	font-family: sans-serif;
	color: #272121;
	padding: 5px;
    }


  
}
@supports (-ms-accelerator: true) {
  /* Microsoft EdgeV13 CSS styles go here */
  
.cx-card-head{
 	text-transform: capitalize;
	color: #000;
	font-size: 17px;
   }
   
.contribution-container__card--info{
	font-size: 14px;
	font-family: sans-serif;
	color: #272121;
	padding: 5px;
    }


}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10 & IE11 CSS styles go here */

.cx-card-head{
 	text-transform: capitalize;
	color: #000;
	font-size: 17px;
   }
   
.contribution-container__card--info{
	font-size: 14px;
	font-family: sans-serif;
	color: #272121;
	padding: 5px;
    }



}



@-moz-document url-prefix() { 
   /* firefox CSS styles go here */
.cx-card-head{
 	text-transform: capitalize;
	color: #000;
	font-size: 17px;
   }
   
.contribution-container__card--info{
	font-size: 14px;
	font-family: sans-serif;
	color: #272121;
	padding: 5px;
    }



}

@supports (-moz-appearance:none) and (-webkit-appearance:none)
{

.cx-card-head{
 	text-transform: capitalize;
	color: #000;
	font-size: 17px;
   }
   
.contribution-container__card--info{
	font-size: 14px;
	font-family: sans-serif;
	color: #272121;
	padding: 5px;
    }


}




@media screen and (-webkit-min-device-pixel-ratio:0) {

.cx-card-head{
 	text-transform: capitalize;
	color: #000;
	font-size: 17px;
   }
   
.contribution-container__card--info{
	font-size: 14px;
	font-family: sans-serif;
	color: #272121;
	padding: 5px;
    }


}


/* Chrome 48+ (and Opera 35+) */

@supports (-webkit-appearance:none)
   and (font-feature-settings:normal)
     and (not (-ms-accelerator:true)) {
       
.cx-card-head{
 	text-transform: capitalize;
	color: #000;
	font-size: 17px;
   }
   
.contribution-container__card--info{
	font-size: 14px;
	font-family: sans-serif;
	color: #272121;
	padding: 5px;
    }



}

