.contribution-container {
  background: white;
  margin: 20px auto;
  padding: 20px;
  padding-bottom: 0;
  max-width: 400px;
  width: 500px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  overflow: scroll;
  height: 542px;
  @include for-phone-only {
    width: 300px;
  }

  .contribution-container__card {
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    margin-bottom: 10px;

    .contribution-container__left-column {
      text-transform: capitalize;
      text-align: left;
      font-size: 14px;
    }

    .contribution-container__right-column {
      white-space: pre;
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      font-size: 14px;

      a {
        margin-top: auto;
      }

      .see-more-label-style {
        border-left: 1px solid #9c9b9b;
        padding: 3px 5px;
        cursor: pointer;
        text-align: left;
        color: #9c9b9b;
      }

      .see-more__active {
        color: #b7d37f;
        border-color: #b7d37f;
      }
    }
  }
}

.contribution-container::-webkit-scrollbar {
  width: 6px;
  height: 2px;
}

.contribution-container::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 20px;
}

.contribution-container__partition {
  margin-bottom: 10px;
}

.user-contributions__location--icons {
  display: flex;
  max-width: 600px;
  margin-top: 10px;
  justify-content: flex-end;

  .user-contributions__location--icons--img {
    height: 32px;
    margin-left: 10px;
  }
}

.my-trees #mapNode {
  width: 600px !important;
  padding-bottom: 20px;
}

.contribution-buttons {
  max-width: 600px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.navigate-button {
  background: #e86f56;
  color: white;
  padding: 5px 40px;
  border-radius: 32px;
  margin: 10px 0px;
  border: none;
}
