.contribution-container {
  background: white;
  margin: 20px auto;
  padding: 20px;
  padding-bottom: 0;
  max-width: 600px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  overflow: scroll;
  height: 542px;

  .contribution-container__card {
    padding: 10px 10px 30px 10px;
    position: relative;
    display: flex;
    height: 80px;
    margin-bottom: 10px;
    flex-direction: column;

    .contribution-container__left-column {
      text-transform: capitalize;
    }
  }
}

.contribution-container::-webkit-scrollbar {
  width: 6px;
  height: 2px;
}

.contribution-container::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 20px;
}

.contribution-container__partition {
  margin-bottom: 10px;
}

.user-contributions__location--icons {
  display: flex;
  max-width: 600px;
  margin: auto;
  justify-content: space-between;

  .user-contributions__location--icons--container {
    display: flex;
    align-items: center;

    .user-contributions__location--icons--img {
      height: 32px;
    }
  }
}

.my-trees #mapNode {
  width: 600px !important;
  padding-bottom: 20px;
}

.contribution-buttons {
  max-width: 600px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.navigate-button {
  background: #e86f56;
  color: white;
  padding: 5px 40px;
  border-radius: 32px;
  margin: 10px 0px;
  border: none;
}
