// VARIABLES // ============================== //
$avocado: #89b53a;
$border: #d5d5d563;
$white: #fff;

.m-t-2 {
  margin-top: 20px;
}

.m-b-20 {
  margin-bottom: 20px;
}
.grid2x2 {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.grid2x2 .box {
  display: flex; 
  flex-basis: calc(50% - 7px);  
  @include for-phone-only {
    flex-basis: calc(100% - 7px);  
  }
  background-color: $white;
  border: solid 1px $border;
  margin: 5px;
  border-radius: 4px;
  flex-direction: column;
  .icon {
    color: $avocado;
    margin-bottom: -3px;
  }

  .card-text {
    font-size: 15px;
    padding-bottom: 5px;
  }

  .currency {
    // flex: 1;
    float: right;
    padding: 5px 12px;
    align-self: flex-end;
    width: 62px;
    height: 19px;
    font-family: OpenSans;
    border-radius: 2px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    background-color: $border;
  }

  .bottom-with-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      cursor: pointer;
      padding: 10px;
    }
  }

  .headline {
    padding-top: 10px;
      font-family: OpenSans;
      line-height: 1.13;
      color: $avocado;
      font-weight: bold;
      padding-bottom: 5px;
      span {
        padding-right: 5px;
        font-size: normal;
      }
  }
}
.box > div{
  padding: 0 0 10px 15px;
  width: 100%;
  box-sizing: border-box;;
}


.box:nth-child(odd){
  margin-left: 0;
}
.box:nth-child(even){
  margin-right: 0;
}
.home {
  background: $white;
  border-radius: 10px;
  padding-bottom: 0;
  margin: 5px auto;
  width: 80%;
  clear: both;
  max-width: 80%;
  
  @include for-phone-only {
    width: 100%;
  }
 
  .column {
    padding: 10px;
  }

 .left {
    flex: 2;
    padding-top: 0;
  }
 
	.right {
		flex: 1;
	}

 	.heading {
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
 	}

 .card {
    background-color: $white;
    border: solid 1px $border;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 20px;
    padding: 0 0 10px 20px;
    margin-left: 5px;
    flex: 50%;
    .icon {
      color: $avocado;
      margin-bottom: -3px;
    }

    .card-text {
      font-size: 15px;
      padding-bottom: 5px;
    }

    .currency {
			// flex: 1;
			padding: 5px 15px;
			align-self: flex-end;
			// width: 56px;
			// height: 19px;
			font-family: OpenSans;
			border-radius: 2px;
			font-size: 14px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			letter-spacing: normal;
			text-align: right;
			background-color: $border;
    }

    .bottom-with-button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        cursor: pointer;
        padding: 10px;
      }
    }

    .headline {
        font-family: OpenSans;
        line-height: 1.13;
        color: $avocado;
        font-weight: bold;
        padding-bottom: 5px;
        span {
          padding-right: 5px;
          font-size: normal;
        }
    }
  }
  .card:first-child{
    margin-left: 0;
  }

}

.pftp-description-heading.left-align {
  padding-left: 0;
}