// Import Variables
@import "_variables";

// Import components css
// @import "./tree.css";
@import "./treecounter.css";
// @import "./notification.css";
@import "./layer.css";
// @import "./menu.css";
// @import "./search.css";
@import "./carousel.css";

// Import standard components
@import "./common/_button.scss";
@import "./common/_menu_icon.scss";
@import "./common/_textfield.scss";
@import "./common/_text.scss";
@import "./common/_card_layout.scss";
@import "./common/_space.scss";
@import "./common/_checkbox.scss";
@import "./common/_selectfield.scss";
@import "./common/_popover.scss";
@import "./common/_content_header.scss";
@import "./common/_seemore_toggle.scss";
@import "./common/_filepicker.scss";
@import "./common/_heading.scss";
@import "./common/_accordian.scss";

// Import components SCSS
@import "./_normalize.scss";
@import "./_horizontal_round_bar.scss";
@import "./_project_details.scss";
@import "./_payment_page_container.scss";
@import "./_payment_method.scss";
@import "./_custom_popover.scss";
@import "./_sidenav_responsive";
@import "./_app.scss";
@import "./_user_contributions.scss";
@import "./_custom_scrollbar.scss";
@import "./_auto_suggest.scss";
@import "./_search_page.scss";
@import "./_register_trees.scss";
@import "./_trillion_tree.scss";
@import "./_home_svg.scss";
@import "./_arrow_button_rotatable.scss";
@import "./_footer.scss";
@import "./_header.scss";

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
// Import Signup SCSS
@import "./signup/_signup_type.scss";

// Import target SCSS
@import "./target/target.scss";

//Import tree counter SCSS
@import "./treeCounter/tree_counter.scss";
@import "./treeCounter/_tpo_footer.scss";

//Import search SCSS
@import "./search/_search_bar.scss";
@import "./search/search_auto_suggest.scss";

// ESRI Maps CSS
@import url("https://js.arcgis.com/3.23/esri/css/esri.css");
