// Import Variables
@import "_variables";
@import "_mixin";
@import "./treecounter.css";
@import "./layer.css";

// Import standard components
@import "./common/_button.scss";
@import "./common/_menu_icon.scss";
@import "./common/_textfield.scss";
@import "./common/_text.scss";
@import "./common/_card_layout.scss";
@import "./common/_space.scss";
@import "./common/_checkbox.scss";
@import "./common/_selectfield.scss";
@import "./common/_popover.scss";
@import "./common/_content_header.scss";
@import "./common/_seemore_toggle.scss";
@import "./common/_filepicker.scss";
@import "./common/_heading.scss";
@import "./common/_accordian.scss";
@import "./common/_tabs.scss";
@import "./common/_user_profile_image.scss";
@import "./common/_modal_dialog.scss";
@import "./common/_slick_carousal.scss";
@import "./common/error";
// Import components SCSS
@import "./_normalize.scss";
@import "./_custom_popover.scss";
@import "./_sidenav_responsive";
@import "./_app.scss";
@import "./_user_contributions.scss";
@import "./_custom_scrollbar.scss";
@import "./_auto_suggest.scss";
@import "./_register_trees.scss";
@import "./_home_svg.scss";
@import "./_arrow_button_rotatable.scss";
@import "./_footer.scss";
@import "./_header.scss";
@import "./pledge.scss";
@import "./map/_map.scss";
@import "./redemption/_redemption.scss";
@import "./widgetShare/widget_share";

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
// load smarbanner style from package
@import "~react-smartbanner/dist/main.css";
// we overwrite default app banner style
@import "./app_banner.scss";

// Import Signup SCSS
@import "./signup/_signup_type.scss";

// Import target SCSS
@import "./target/target.scss";

//Import tree counter SCSS
@import "./treeCounter/tree_counter.scss";
@import "./treeCounter/_tpo_footer.scss";

//Import search SCSS
@import "./search/_search_bar.scss";
@import "./search/search_auto_suggest.scss";

//Import edit profile
@import "./editProfile/_edit_user_profile.scss";

//Import Explore Leader board
@import "./leaderboard/_explore_leaderboard.scss";

//import donate trees
@import "./donateTrees/_donate_trees.scss";

@import "./challenge.scss";
@import "./manageProjects/manage_project";

/* ESRI Maps CSS*/
@import url("https://js.arcgis.com/4.7/esri/css/main.css");

//NDVI
@import "./NDVI/ndvi-portal.scss";
@import "./NDVI/ndvi-container.scss";
@import "./NDVI/info.scss";
@import "./NDVI/legend.scss";
@import "./NDVI/gradient-result-line.scss";
@import "./NDVI/time-series.scss";
@import "./NDVI/circle.scss";
@import "./NDVI/carbon-details.scss";

//import Map
@import "./menu/menu.scss";

@import "./plantProject/single_plant_project.scss";