.btn {
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  border: none;
  background: none;
  text-decoration: none;
  color: #e86f56;
  cursor: pointer;
}
.btn:hover {
  color: #e24929;
}

.btn-primary {
  font-family: "Open Sans", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
  color: #e86f56;
  text-decoration: none;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
.btn-primary:hover {
  text-decoration: none;
  color: #e24929;
}
.btn-primary:before {
  font-family: "plant-for-the-planet-icons";
  content: "\e920";
}

.btn-secondary {
  font-family: "Open Sans", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
  color: #e86f56;
  text-decoration: none;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
.btn-secondary:hover {
  text-decoration: none;
  color: #e24929;
}
.btn-secondary:before {
  font-family: "plant-for-the-planet-icons";
  content: "\e927";
}

.btn-info {
  font-family: "Open Sans", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
  color: #e86f56;
  text-decoration: none;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
.btn-info:hover {
  text-decoration: none;
  color: #e24929;
}
.btn-info:after {
  font-family: "plant-for-the-planet-icons";
  content: "\e920";
}

.btn-outline-primary {
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  background-image: url("/bundles/pftpbilliontree/images/bg_light.png") !important;
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid #68605f;
  color: #68605f;
}
.btn-outline-primary:hover {
  -moz-box-shadow: inset 0.1rem 0.1rem 0.15rem 0 #444444;
  -webkit-box-shadow: inset 0.1rem 0.1rem 0.15rem 0 #444444;
  box-shadow: inset 0.1rem 0.1rem 0.15rem 0 #444444;
  color: #4d4747;
}

.btn-circle-primary {
  font-family: "Open Sans", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
  color: #e86f56;
  text-decoration: none;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  width: 5rem;
  height: 5rem;
  border: 1rem solid #e86f56;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.btn-circle-primary:hover {
  text-decoration: none;
  color: #e24929;
}

.btn-xs {
  font-size: 1.25rem;
}

.btn-sm {
  font-size: 1.5rem;
}

.btn-md {
  padding: 0.16667rem 0.5rem;
  font-size: 1.75rem;
  line-height: 1.25;
}

.btn-lg {
  font-size: 2rem;
  line-height: 2rem;
}

.canvasContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
.canvasContainer svg {
  width: auto;
  max-width: 53rem;
  height: auto;
  align-self: center;
}
@media screen and (max-width: 576px) {
  .canvasContainer svg {
    margin-left: -2rem;
    margin-right: -2rem;
  }
}
.canvasContainer svg p {
  max-width: 25rem;
  margin: 0 auto;
}

.circle-inside {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .circle-inside {
    position: relative;
    width: 100%;
  }
}
@media screen and (min-width: 769px) {
  .circle-inside {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
  }
  .circle-inside p {
    max-width: 75%;
  }
}
@media screen and (min-width: 850px) {
  .circle-inside {
    top: 13rem;
    width: 25rem;
    height: 25rem;
  }
}

@media screen and (max-width: 768px) {
  .circle-sticky {
    position: absolute;
    width: 50%;
    width: calc(50vw - 2rem);
    height: 45vw;
    height: calc(50vw - 2rem);
    top: -75vw;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.circle-headline {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.circle-headline h2 {
  margin: 0 0;
}

.circle-action {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.circle-action:hover {
  color: #e24929;
  border-color: #e24929;
}

.supporterPlanted {
  max-width: 21rem;
}

.circle-description-image {
  width: 2rem;
  margin-bottom: -0.5rem;
}

@media screen and (min-width: 769px) {
  .circle-top-boxes {
    position: absolute;
    top: 0;
    justify-content: space-between !important;
  }
}

.circle-bottom-boxes {
  margin-bottom: 0;
  margin-top: auto;
  align-items: baseline;
}
@media screen and (min-width: 769px) {
  .circle-bottom-boxes {
    margin-top: -7rem;
  }
}

.openCrown {
  fill: #d7e5ac;
}

.openShadow {
  fill: #bac892;
}

.openRoot {
  fill: #8b946b;
}

.communityCrown {
  fill: #8fb224;
}

.communityShadow {
  fill: #7c9b2f;
}

.communityRoot {
  fill: #66802a;
}

.plantedCrown {
  fill: #66922e;
}

.plantedShadow {
  fill: #50742b;
}

.plantedRoot {
  fill: #2e411c;
}

.unpledged {
  visibility: hidden;
}

.unseen {
  display: none;
}

.pledgedCrown {
  fill: #7f6c5e;
}

.pledgedBottle {
  fill: #7f6c5e;
}

.pledgedShadow {
  fill: #5e4c43;
}

.pledgedLeaf01 {
  fill: #66922f;
}

.pledgedLeaf02 {
  fill: #87bc24;
}

.pledgedLeaf03 {
  fill: #50752c;
}

.pledgedRoot {
  fill: #564f48;
}

.openCircle {
  fill: none;
  stroke: #c4d19a;
  stroke-miterlimit: 10;
  stroke-width: 45px;
}

.communityCircle {
  fill: none;
  stroke: #7da12c;
  stroke-miterlimit: 10;
  stroke-width: 45px;
}

.plantedCircle {
  fill: none;
  stroke: #4d6c29;
  stroke-miterlimit: 10;
  stroke-width: 45px;
}

.pledgedCircle {
  fill: none;
  stroke: #5d4b43;
  stroke-miterlimit: 10;
  stroke-width: 45px;
}

.st8 {
  fill: #ffffff;
  stroke: #cbcacb;
  stroke-miterlimit: 10;
}

.st9 {
  fill: #ffffff;
  stroke: #cac9ca;
  stroke-miterlimit: 10;
}

.st10 {
  fill: #ffffff;
}

.st11 {
  fill: #e97d5f;
}

.st12 {
  fill: #f5d1d9;
}

.st13 {
  fill: #6e3f22;
  stroke: #6e3f22;
  stroke-miterlimit: 10;
}

.st14 {
  fill: #736741;
}

.st15 {
  fill: none;
  stroke: #736741;
  stroke-miterlimit: 10;
}

.st16 {
  fill: #836240;
}

.st17 {
  fill: #6e3f22;
}

.st18 {
  fill: none;
  stroke: #ad544d;
  stroke-miterlimit: 10;
}

.st19 {
  opacity: 0.5;
  fill: #ffffff;
}

.st20 {
  fill: #714923;
}

.st21 {
  fill: #93a378;
}

.st22 {
  fill: none;
  stroke: #a79880;
  stroke-miterlimit: 10;
}

.st23 {
  fill: none;
  stroke: #b6a48b;
  stroke-miterlimit: 10;
}

.st24 {
  fill: #b4a589;
}

.st25 {
  fill: #abd2b8;
}

.st26 {
  opacity: 0.2;
  fill: #ffffff;
}

.st27 {
  fill: #a6947a;
}

.st28 {
  fill: #938e56;
}

.st29 {
  fill: #f4ac9e;
}

.st30 {
  fill: #a07353;
}

.st31 {
  fill: #712e0f;
}

#btcBackground {
  height: 620px;
  width: 100%;
  margin: 0;
  padding: 30px 0 0 0;
  display: table;
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
  background-image: url("/bundles/pftpbilliontree/images/bg_light.png");
}
#btcBackground > #btcCircleContainer {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: table;
  position: relative;
}
#btcBackground > #btcCircleContainer > #btcTextContainer {
  width: 100%;
  height: auto;
  float: left;
  padding: 15px 25px;
  display: block;
}
@media screen and (min-width: 0) {
  #btcBackground > #btcCircleContainer > #btcTextContainer {
    width: 200px;
    height: 200px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

body {
  background-color: #ffffff !important;
  font-family: "Open Sans", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  color: #68605f;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.containerMain {
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  width: 100%;
  max-width: 1200px;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  z-index: 500;
}
@media screen and (max-width: 992px) {
  .containerMain {
    width: calc(100vw - 2rem);
  }
}
@media screen and (min-width: 1200px) {
  .containerMain {
    margin-left: auto;
    margin-right: auto;
  }
}

.content {
  z-index: 5;
  flex: 10 1 80%;
}
@media screen and (min-width: 769px) {
  .content {
    order: 1;
    min-height: 65rem;
  }
}

.socialButton {
  font-size: 3rem;
  margin-left: 0.5rem;
}

.hide {
  display: none;
}

form .column-flex {
  align-items: stretch;
}
form .form-group {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}
form .form-group .styled-select {
  height: 100%;
}
form .hide {
  display: none !important;
}
@media screen and (max-width: 768px) {
  form .row-2 {
    flex-basis: 100%;
  }
}
form .section {
  display: none;
}
form #orga-type-sections.organization .section.organization,
form #orga-type-sections.education .section.education,
form #orga-type-sections.government .section.government {
  display: flex;
}

ul.form {
  display: block;
  width: auto;
  margin: 0 auto;
  list-style: none;
}

ul.form label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

.required {
  display: inline;
}
.required:after {
  content: " *";
}

ul.form li.half {
  float: left;
  width: 50%;
  padding-right: 10px;
}
ul.form li.half input {
  width: 100%;
}
ul.form li.half.float-right {
  float: right;
  margin-right: 0;
  padding-left: 10px;
  padding-right: 0;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
select,
textarea {
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  background: #ffffff;
  color: #68605f;
  font-family: "Open Sans", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  padding: 0.5rem 1rem;
  outline: none;
  border: 1px solid #68605f;
  flex: 1 1 auto;
}

select {
  height: 2.5rem;
}

.has-error input {
  border-color: #e54028;
}
.has-error .help-block,
.has-error label {
  color: #e54028;
}

#btc-registration-form-container {
  width: 100%;
}

.help-block {
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid #d0a500;
  background-color: rgba(255, 203, 4, 0.3);
  color: #846800;
  padding: 0.5rem 1rem;
}

.head {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 1rem;
}
@media screen and (min-width: 577px) {
  .head {
    flex-wrap: nowrap;
  }
}

.pftpLogoLink {
  position: absolute;
  left: -0.5rem;
  min-width: 4rem;
  width: 15%;
  max-width: 7rem;
}
.pftpLogoLink img {
  width: 100%;
}
@media screen and (max-width: 576px) {
  .pftpLogoLink {
    position: relative;
  }
}

.chapterTitleContainer {
  text-align: center;
  align-self: center;
  flex: 5 1 100%;
  margin: 0 12rem;
}
@media screen and (max-width: 576px) {
  .chapterTitleContainer {
    margin: 0 0;
  }
}
.chapterTitleContainer h1 {
  line-height: 90%;
}
.chapterTitleContainer h3 {
  font-family: "Open Sans", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .chapterTitleContainer h3 {
    font-size: 1.25rem;
  }
}

.headSeparator {
  background: url("/bundles/pftpbilliontree/images/seperator.png") repeat-x;
  height: 1rem;
  margin: 0 auto;
  width: 50%;
  max-width: 26.25rem;
  display: block;
}

iframe {
  border: none;
  width: 100%;
  height: 100%;
}

.mainMenu {
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  position: fixed;
  overflow: scroll;
  display: flex;
  flex-flow: column nowrap;
  flex: 100%;
  top: 0;
  right: 0;
  width: 15rem;
  height: 100vh;
}
.mainMenu i {
  margin-right: 0.5rem;
  font-size: 2.5rem;
  line-height: 1.75rem;
}
.mainMenu .menu_level_1 {
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 576px) {
  .mainMenu {
    margin-right: -100vw;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .mainMenu {
    margin-right: -20rem;
  }
}

.menuMiniButton {
  position: absolute;
  top: 1rem;
  height: 2.5rem;
  right: -0.5rem;
  z-index: 600;
}
@media screen and (min-width: 993px) {
  .menuMiniButton {
    display: none;
  }
}

.menu-level-2,
.menu-level-3 {
  margin-top: 0.25rem;
}

.button_level_2,
.button_level_3 {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-left: none;
  border-top: none;
  border-bottom: 2px solid rgba(104, 96, 95, 0.3);
  border-right: 7px solid rgba(104, 96, 95, 0.2);
  -moz-box-shadow: 0.2rem 0.2rem 0.2rem 0 #8c8c8c;
  -webkit-box-shadow: 0.2rem 0.2rem 0.2rem 0 #8c8c8c;
  box-shadow: 0.2rem 0.2rem 0.2rem 0 #8c8c8c;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  font-family: "Open Sans", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
}
.button_level_2:hover,
.button_level_3:hover {
  -moz-box-shadow: 0.2rem 0.2rem 0.2rem 0 #444444;
  -webkit-box-shadow: 0.2rem 0.2rem 0.2rem 0 #444444;
  box-shadow: 0.2rem 0.2rem 0.2rem 0 #444444;
  color: #444444;
}

.button_level_2 {
  background-color: rgba(104, 96, 95, 0.1);
  margin-top: 1rem;
  padding: 1rem 0.5rem;
  color: #68605f;
  flex: 0 1 100%;
}
@media screen and (min-width: 769px) {
  .button_level_2 {
    height: 5rem;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
  }
  .button_level_2 i {
    margin-bottom: 0.25rem;
  }
}

ul.menu_level_2 {
  margin-right: 0.5rem;
}

.button_level_3 {
  background-color: rgba(104, 96, 95, 0.3);
  margin-top: 0.5rem;
  padding: 1rem 0.5rem;
  color: #4d4747;
  flex: 0 1 85%;
  margin-left: auto;
  width: 8rem;
  text-align: right;
}
.button_level_3.current {
  background-color: rgba(104, 136, 22, 0.3);
  color: #465c0f;
}

.current_ancestor {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-left: none;
  border-top: none;
  border-bottom: 2px solid rgba(213, 60, 29, 0.3);
  border-right: 7px solid rgba(213, 60, 29, 0.2);
  background-color: rgba(232, 111, 86, 0.3);
  color: #e24929;
}

.icon-billion_tree_campaign:before {
  content: "\21";
}

.icon-current_status:before {
  content: "\e91c";
}

.icon-competition:before {
  content: "\31";
}

.icon-get_involved:before {
  content: "\e921";
}

.icon-supporter_activities:before {
  content: "\e91f";
}

.disabled_menu_tree {
  display: none;
}

@media screen and (max-width: 992px) {
  .menuOpen {
    overflow: hidden;
  }
}
@media screen and (max-width: 992px) and (max-width: 576px) {
  .menuOpen .containerMain {
    margin-left: -100vw;
  }
}
@media screen and (max-width: 992px) and (min-width: 577px) and (max-width: 992px) {
  .menuOpen .containerMain {
    margin-left: -20rem;
  }
}
@media screen and (max-width: 992px) {
  .menuOpen nav {
    margin-right: 0;
    overflow-y: auto;
  }
  .menuOpen .menuMiniButton {
    -moz-box-shadow: inset 0.12rem 0.12rem 0.2rem 0 #373737;
    -webkit-box-shadow: inset 0.12rem 0.12rem 0.2rem 0 #373737;
    box-shadow: inset 0.12rem 0.12rem 0.2rem 0 #373737;
    color: #e86f56;
  }
}
@media screen and (max-width: 992px) and (max-width: 576px) {
  .menuOpen .menuMiniButton {
    right: 100vw;
    margin-right: -2.5rem;
  }
}
@media screen and (max-width: 992px) and (min-width: 577px) and (max-width: 992px) {
  .menuOpen .menuMiniButton {
    right: 20.5rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1600px) {
  .navigation-shadow {
    display: flex;
    width: 20rem;
    min-height: 100vh;
  }
}

.searchBox {
  display: inline-flex;
  margin: 1rem 0;
}

.btcSearchIcon {
  font-size: 1.75rem;
  line-height: 1.75rem;
}

.searchField {
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  border-left: none;
  border-top: none;
  border-bottom: 2px solid rgba(37, 37, 37, 0.3);
  border-right: 7px solid rgba(37, 37, 37, 0.2);
  background-color: rgba(104, 96, 95, 0.2) !important;
  padding: 0.25rem 0.5rem;
  color: #4d4747 !important;
  margin: 0 0;
  height: 1.5rem;
  width: 5rem;
  font-size: 0.875rem;
}
.searchField::-webkit-input-placeholder {
  color: #68605f;
}
.searchField:-moz-placeholder {
  color: #68605f;
  opacity: 1;
}
.searchField::-moz-placeholder {
  color: #68605f;
  opacity: 1;
}
.searchField:-ms-input-placeholder {
  color: #68605f;
}

.statusTableTable {
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
}
.statusTableTable.reduced-size {
  max-width: 768px;
}
.statusTableTable .tableCell {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  float: left;
  text-align: left;
}
.statusTableTable .firstCell {
  justify-content: flex-end;
  flex-basis: 2.5rem !important;
}
.statusTableTable .nameCell {
  flex: 1 1 100%;
}
.statusTableTable .evenTableRow .tableBody {
  background-color: rgba(104, 96, 95, 0.1);
}
.statusTableTable .oddTableRow .tableBody {
  background-color: rgba(104, 96, 95, 0.05);
}
@media screen and (max-width: 576px) {
  .statusTableTable .tableHead .firstCell {
    border: none !important;
  }
  .statusTableTable .tableHead .tableCell {
    border: 1px solid #cebca5;
  }
}
.statusTableTable > .tableHead .tableCell {
  font-family: "Rockwell W01", Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  font-weight: bold;
  color: #68605f;
}
.statusTableTable > .tableRow {
  flex: 1 1 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}
@media screen and (min-width: 577px) {
  .statusTableTable > .tableRow {
    flex-flow: row nowrap;
  }
}
.statusTableTable > .tableRow .firstTableRow,
.statusTableTable > .tableRow .secondTableRow {
  display: flex;
  margin: 0.33333rem 0 0 0;
  padding: 0 0;
  flex: 1 1 50%;
  min-height: 2.5rem;
}
@media screen and (min-width: 577px) {
  .statusTableTable > .tableRow .firstTableRow,
  .statusTableTable > .tableRow .secondTableRow {
    margin-top: 0;
  }
}
@media screen and (min-width: 577px) {
  .statusTableTable > .tableRow .secondTableRow {
    margin-left: 0.5rem;
  }
}
.statusTableTable > .tableRow .twoColumn > .tableCell {
  flex: 1 1 50%;
}
.statusTableTable > .tableRow .twoColumn > .tableCell.lastCell {
  margin-left: 0.5rem;
}
.statusTableTable > .tableRow .threeColumn > .tableCell {
  flex: 1 1 30%;
}
.statusTableTable > .tableRow .threeColumn > .tableCell.middleCell {
  margin-left: 5%;
  margin-right: 5%;
}

.actionCell {
  background: none !important;
  border: none !important;
}

h1 {
  font-size: 3rem;
  font-family: "Rockwell W01 Bold", Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

h1,
h2,
h3 {
  text-align: center;
}

a {
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  color: #e86f56;
  cursor: pointer;
}
a:hover {
  color: #e24929;
}

.fontRegularBold {
  font-family: "Rockwell W01 Bold", Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

.fontOpenLight {
  font-family: "Open Sans", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
}

.text-left {
  text-align: left;
}
.text-left h1,
.text-left h2,
.text-left h3,
.text-left h4,
.text-left h5,
.text-left h6,
.text-left p,
.text-left a {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
.text-right h1,
.text-right h2,
.text-right h3,
.text-right h4,
.text-right h5,
.text-right h6,
.text-right p,
.text-right a {
  text-align: right;
}

.location-icon {
  font-size: 4rem;
}

.font-size-h1 {
  font-size: 3rem;
}

.sectionChooserBlock {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
}
.sectionChooserBlock a {
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  margin: 0.5rem 1rem;
  color: #68605f;
}
.sectionChooserBlock a .statusCircle {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5rem solid #68605f;
  flex: 0 0 4rem;
  width: 4rem;
  height: 4rem;
  font-size: 36px;
}
.sectionChooserBlock a:hover {
  color: #de7560;
}
.sectionChooserBlock a:hover .statusCircle {
  border-color: #de7560;
}
.sectionChooserBlock a.active {
  color: #e86f56;
}
.sectionChooserBlock a.active .statusCircle {
  border-color: #e7674d;
  background-color: #e86f56;
  color: #ffffff;
}

.statusFilterBlock select {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .statusFilterBlock {
    order: -1;
  }
}

.green {
  color: #688816;
}

.green-Bg {
  color: #688816;
  background-color: #688816;
}

.red {
  color: #e86f56;
}

.red-Bg {
  color: #e86f56;
  background-color: #e86f56;
}

.turquoise {
  color: #459a9e;
}

.turquoise-Bg {
  color: #459a9e;
  background-color: #459a9e;
}

.yellow {
  color: #ffcb04;
}

.yellow-Bg {
  color: #ffcb04;
  background-color: #ffcb04;
}

.historyHead {
  font-family: "Rockwell W01", Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  font-size: 2rem;
  font-weight: bold;
  width: 9.5rem;
  height: auto;
  text-align: center;
  color: #49596d;
  display: block;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .historyHead {
    margin-left: -1.5rem;
  }
}
@media screen and (min-width: 769px) {
  .historyHead {
    margin-top: 2rem;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

.historyYears {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-image: url("/bundles/pftpbilliontree/images/bg_light.png") !important;
  font-family: "Open Sans", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
  font-size: 1.75rem;
  border: 1rem solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 5rem;
  width: 5rem;
  height: 5rem;
  margin: 0 0.5rem;
}
@media screen and (max-width: 768px) {
  .historyYears {
    margin-left: 0;
  }
}

.historyBar {
  margin: 10px auto;
  width: 13px;
  background-color: #49596d;
  height: 96%;
  position: absolute;
  top: -1.5rem;
  left: 0;
  right: 0;
}
@media screen and (max-width: 768px) {
  .historyBar {
    left: 3rem;
    right: auto;
  }
}

#historyContainer {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (min-width: 993px) {
  #historyContainer {
    margin-bottom: 100px;
  }
}

.historyFooter {
  font-family: "Open Sans", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  width: 150px;
  height: auto;
  text-align: center;
  margin: 0 auto;
  font-size: 2rem;
  color: #49596d;
  display: block;
  text-transform: uppercase;
}

.historyRow {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  position: relative;
}
@media screen and (min-width: 769px) {
  .historyRow {
    width: 60%;
    width: calc(50% + 4rem);
  }
  .historyRow.right {
    float: right;
  }
  .historyRow.right .historyContentSmall {
    margin-left: 8rem;
  }
  .historyRow.left {
    float: left;
  }
  .historyRow.left .historyYears {
    order: 2;
  }
  .historyRow.left .historyContentBig,
  .historyRow.left .historyContentSmall {
    order: 1;
    text-align: right;
  }
  .historyRow.left .historyContentSmall {
    margin-right: 8rem;
  }
}

.historyContentSmall {
  font-family: "Open Sans", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  color: #68605f;
  min-height: 80px;
}
@media screen and (max-width: 768px) {
  .historyContentSmall {
    margin-left: 7.5rem;
  }
}

.historyContentBig {
  font-family: "Open Sans", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  color: #68605f;
  width: auto;
  min-height: 80px;
  float: left;
  margin: 0 0;
  display: block;
}

.historyMonth {
  font-family: "Open Sans", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
}

.disabledHistoryDetail {
  display: none;
}

.map-content .containerMain {
  max-width: initial;
}
.map-content .title-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.map-content iframe {
  min-height: 65vh;
}
@media screen and (min-width: 992px) {
  .map-content .navigation-shadow {
    width: 15rem;
  }
}

@media screen and (max-width: 768px) {
  .login-border {
    padding-top: 0.5rem;
    border-top: 2px solid #cebca5;
  }
}
@media screen and (min-width: 769px) {
  .login-border {
    border-left: 2px solid #cebca5;
    padding-left: 1rem;
    margin-left: 1rem;
  }
}

.getInvolvedCircle {
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2rem solid #68605f;
  width: 12rem;
  height: 12rem;
  background-size: contain;
}
.getInvolvedCircle.getInvolvedOrganisation {
  background-image: url("/bundles/pftpbilliontree/images/button_get-involved_organisation.png");
}
.getInvolvedCircle.getInvolvedJustMe {
  background-image: url("/bundles/pftpbilliontree/images/button_get-involved_just-me.png");
}
.getInvolvedCircle:hover.getInvolvedOrganisation,
.getInvolvedCircle.active.getInvolvedOrganisation {
  border-color: #688816;
}
.getInvolvedCircle:hover.getInvolvedJustMe,
.getInvolvedCircle.active.getInvolvedJustMe {
  border-color: #ffcb04;
}

.participate-flex span {
  font-size: 1.25rem;
}

.successBlock {
  font-size: 15rem;
  color: #688816;
}

.errorBlock {
  font-size: 15rem;
  color: #e54028;
}

.fix-payment-option .content {
  min-height: inherit;
}
.fix-payment-option .payment-option-box {
  padding-left: 0;
  padding-right: 0;
  background-color: rgba(255, 255, 255, 0.4);
}
.fix-payment-option .sepaInput {
  display: flex !important;
  flex-flow: column nowrap;
  align-items: stretch;
}
.fix-payment-option .sepaInput input,
.fix-payment-option .sepaInput label {
  width: auto;
  margin-left: 3rem;
  margin-right: 3rem;
}
.fix-payment-option .inactive .sepaInput {
  display: none !important;
}

div.payment-option-box {
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  background-color: rgba(255, 255, 255, 0.3);
  line-height: 1.2em;
  text-align: left;
}
div.payment-option-box.paypal svg {
  width: 4rem;
  height: 2.5rem;
}
div.payment-option-box.creditcard svg {
  width: 3.5rem;
  height: 2.5rem;
}
div.payment-option-box.sepa svg {
  width: 4rem;
  height: 2.5rem;
}
div.payment-option-box.disabled {
  background-color: #f6f4f4 !important;
}
div.payment-option-box.disabled span.label,
div.payment-option-box.disabled span.sub-label {
  color: #b4adac;
}
div.payment-option-box.disabled span.payment-radio label {
  display: none;
}
div.payment-option-box .payment-radio {
  position: absolute;
  padding-top: 0.33333rem;
  margin-left: 1rem;
}
div.payment-option-box .payment-radio label {
  margin-right: 0;
}
div.payment-option-box .labels {
  margin-left: 3rem;
}
div.payment-option-box .label {
  font-weight: bold;
  padding-right: 5px;
}
div.payment-option-box .label.sub-label {
  font-size: 0.8em;
}
div.payment-option-box li {
  display: inline-block;
  list-style: none;
}
div.payment-option-box.active .hide-on-active,
div.payment-option-box .inactive .hide-on-inactive {
  display: none;
}

html {
  font-size: 18px;
}

.wrapper {
  display: flex;
}
.wrapper > div {
  font-size: 4vh;
  color: white;
  background: hotpink;
  margin: 0.1em;
  padding: 0.3em;
  border-radius: 3px;
  flex: 1;
}
.wrapper .wrapper > div {
  background: pink;
  color: hotpink;
}
