@import 'https://fonts.googleapis.com/css?family=Open+Sans';
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
.content {
  padding: 15px;
  margin-top: 60px;
  color: #333;
}
.inner-navigation {
  padding: 0;
  margin: 0;
}
.inner-navigation li {
  list-style-type: none;
}
.inner-navigation li .menu-link {
  color: #808080;
  line-height: 3.7em;
  padding: 20px 18px;
  text-decoration: none;
  transition: background 0.5s, color 0.5s;
}
.inner-navigation li .menu-link.menu-anchor {
  padding: 20px;
  margin: 0;
  background: #808080;
  color: #fff;
}
.inner-navigation li .menu-link.has-notifications {
  background: #808080;
  background: rgba(0,0,0,0);
  color: #fff;
}
.inner-navigation li .menu-link.notification {
  line-height: 2.7rem;
  /* padding: 14px 18px; */
  padding: 8px 0px;
  border-radius: 50%;
  /* margin: 0px 40px 0px 0px;  */
}

.inner-navigation li .menu-link.circle:hover {
  background: #808080;
  color: #fff;
}
.inner-navigation li .menu-link.square:hover {
  background: #808080;
  color: #fff;
  transition: background 0.5s, color 0.5s;
}
.dropdown-container {
  overflow-y: hidden;
  margin: -7px 0px 0px 0px;
  /* text-align: right; */
  text-align: left;
}
.dropdown-container.expanded .dropdown {
  -webkit-animation: fadein 0.5s;
  -moz-animation: fadein 0.5s;
  -ms-animation: fadein 0.5s;
  -o-animation: fadein 0.5s;
  animation: fadein 0.5s;
  display: block;
}
.dropdown-container .dropdown {
  -webkit-animation: fadeout 0.5s;
  -moz-animation: fadeout 0.5s;
  -ms-animation: fadeout 0.5s;
  -o-animation: fadeout 0.5s;
  animation: fadeout 0.5s;
  display: none;
  position: absolute;
  width: 300px;
  height: auto;
  max-height: 250px;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
  background: #fff;
  margin-top: 3px;
  margin-right: -55px;
  border-top: 4px solid #808080;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  -webkit-box-shadow: 2px 2px 15px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 15px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 15px -5px rgba(0, 0, 0, 0.75);
   z-index: 9999;
  /*
   &:before{
   position: absolute;
   content: ' ';
   width: 0;
   height: 0;
   top: -13px;
   right: 7px;
   border-left: 8px solid transparent;
   border-right: 8px solid transparent;
   border-bottom: 10px solid $secondary-color;
   }
   */
}
.dropdown-container .dropdown .notification-group {
  border-bottom: 1px solid #e3e3e3;
  overflow: hidden;
  min-height: 35px;
}
.dropdown-container .dropdown .notification-group:last-child {
  border-bottom: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.dropdown-container .dropdown .notification-group .notification-tab {
  padding: 0px 15px;
    min-height: 35px;
    text-align: left;
    font-size: 14px;

}
.dropdown-container .dropdown .notification-group .notification-tab:hover {
  cursor: pointer;
  background: #d3d3d3;
}
.dropdown-container .dropdown .notification-group .notification-tab:hover .fa, .dropdown-container .dropdown .notification-group .notification-tab:hover h4, .dropdown-container .dropdown .notification-group .notification-tab:hover .label {
  color: #fff;
  display: inline-block;
}
.dropdown-container .dropdown .notification-group .notification-tab:hover .label {
  background: #ff5252;
  border-color: #808080;
}
.dropdown-container .dropdown .notification-group .notification-list {
  padding: 0;
  overflow-y: auto;
  height: 0px;
  max-height: 250px;
  transition: height 0.5s;
}
.dropdown-container .dropdown .notification-group .notification-list .notification-list-item {
  padding: 5px 25px;
  border-bottom: 1px solid #e3e3e3;
}
.dropdown-container .dropdown .notification-group .notification-list .notification-list-item .message {
  margin: 5px 5px 10px;
}
.dropdown-container .dropdown .notification-group .notification-list .notification-list-item .item-footer a {
  color: #d3d3d3;
  text-decoration: none;
}
.dropdown-container .dropdown .notification-group .notification-list .notification-list-item .item-footer .date {
  float: right;
}
.dropdown-container .dropdown .notification-group .notification-list .notification-list-item:nth-of-type(odd) {
  background: #e3e3e3;
}
.dropdown-container .dropdown .notification-group .notification-list .notification-list-item:hover {
  cursor: pointer;
}
.dropdown-container .dropdown .notification-group .notification-list .notification-list-item:last-child {
  border-bottom: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.dropdown-container .dropdown .notification-group.expanded .notification-tab {
  background: #d3d3d3;
}
.dropdown-container .dropdown .notification-group.expanded .notification-tab .fa, .dropdown-container .dropdown .notification-group.expanded .notification-tab h4, .dropdown-container .dropdown .notification-group.expanded .notification-tab .label {
  color: #fff;
  display: inline-block;
}
.dropdown-container .dropdown .notification-group.expanded .notification-tab .label {
  background: #808080;
  border-color: #808080;
}
.dropdown-container .dropdown .notification-group.expanded .notification-list {
  height: 250px;
  max-height: 250px;
  transition: height 0.5s;
}
.dropdown-container .dropdown .notification-group .fa, .dropdown-container .dropdown .notification-group h4, .dropdown-container .dropdown .notification-group .label {
  color: #333;
  display: inline-block;
}
.dropdown-container .dropdown .notification-group .fa {
  margin-right: 5px;
  margin-top: 25px;
}
.dropdown-container .dropdown .notification-group .label {
  float: right;
  margin-top: 20px;
  color: #d3d3d3;
  border: 1px solid #d3d3d3;
  padding: 0px 7px;
  border-radius: 15px;
}
.right {
  float: right;
}
.left {
  float: left;
}
@media only screen and (max-width: 321px) {
  .dropdown-container .dropdown .notification-group .notification-tab h4 {
    display: none;
  }
  .dropdown-container .dropdown .notification-group .notification-tab:hover h4 {
    display: none;
  }
  .dropdown-container .dropdown .notification-group.expanded .notification-tab h4 {
    display: none;
  }


}

@media only screen and (max-width: 514px) {
  .dropdown-container .dropdown {
    width: 100%;
    margin: 0px;
    left: 0;
  }

    .inner-navigation li .menu-link{margin: 0px 40px 0px 0px !important;}
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-ms-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
