@import "../../stylesheet/variables";
@import "../../stylesheet/mixin";
@import "../../stylesheet/common/button";
@import "../../stylesheet/arrow_button_rotatable";
@import "../../stylesheet/home_svg";
@import "../../stylesheet/treecounter.css";
@import "../../stylesheet/layer.css";
@import "../../stylesheet/common/text";

.tooltip {
  height: 25px;
  width: 25px;
  display: inline;
  margin: 0;
  margin-left: 5px;
}

.tooltip-text {
  display: flex;
}

.__react_component_tooltip {
  width: 200px;

  @include for-phone-only {
    width: 100px;
  }
}

.pftp-button-secondary {
  width: 40%;
  align-self: center;
  margin-right: 20px;
  outline: none;
  margin-top: 0;
  @include for-phone-only {
    font-size: 14px;
  }
}
.pftp-widget-img {
  align-self: flex-start;
  width: 50%;
  flex-grow: 10;
}
.pftp-widget-row {
  // margin-right: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.pftp-widget-img__container {
  outline: none;
  flex: 10;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
