# PHP CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-php/ for more details
#
version: 2
jobs:

  # build the app in the cloud and deploy it onto the dedicated backends
  build:
    docker:
      - image: circleci/node:12.14.1
    environment:
      HOST: ssh-840600-pftp2014@jetzt-die-welt-retten.de
      PROJ_DIR: /kunden/188089_20457/pftp2014/source
      ENV_VARS: ./env_vars.sh
    working_directory: ~/ttc-app
    steps:
      - checkout
      - run: echo "$CIRCLE_BRANCH"
      - run:
          name: Setting Environment Variables
          command: |
            > $ENV_VARS
            if [[ "${CIRCLE_BRANCH}" == "master" ]]
            then
              echo 'export WD_SYMFONY="$PROJ_DIR/ttc2018_prod"' >>  $ENV_VARS
              echo 'export SERVER_URL="www.trilliontreecampaign.org"' >>  $ENV_VARS
              echo 'export API_URL="https://app.plant-for-the-planet.org"' >>  $ENV_VARS
            elif [[ "${CIRCLE_BRANCH}" == "develop" ]]
            then
              echo 'export WD_SYMFONY="$PROJ_DIR/ttc2018_development"' >>  $ENV_VARS
              echo 'export SERVER_URL="development.trilliontreecampaign.org"' >>  $ENV_VARS
              echo 'export API_URL="https://app-development.plant-for-the-planet.org"' >>  $ENV_VARS
            elif [[ "${CIRCLE_BRANCH}" == "fixtures" ]] || [[ "${CIRCLE_BRANCH}" == "staging" ]]
            then
              echo 'export WD_SYMFONY="$PROJ_DIR/ttc2018_${CIRCLE_BRANCH}"' >>  $ENV_VARS
              echo 'export SERVER_URL="${CIRCLE_BRANCH}.trilliontreecampaign.org"' >>  $ENV_VARS
              echo 'export API_URL="https://app-${CIRCLE_BRANCH}.plant-for-the-planet.org"' >>  $ENV_VARS
            fi
            cat $ENV_VARS
      - run:
          name: Install packages
          command: |
            sudo apt-get update && sudo apt-get install -y gettext-base
      # ID_RSA has been set up in project settings as base64 encoded content of 'id_rsa' file
      # https://circleci.com/gh/Plant-for-the-Planet-org/treecounter-platform/edit#env-vars
      - run:
          name: Setup SSH to Domain Factory
          command: |
            mkdir -p ~/.ssh
            ssh-keyscan jetzt-die-welt-retten.de 2>/dev/null >> ~/.ssh/known_hosts
            (umask 077; touch ~/.ssh/id_rsa; chmod 0600 ~/.ssh/id_rsa)
            echo $ID_RSA | base64 -d > ~/.ssh/id_rsa
      - run:
          name: Update npm
          command: 'sudo npm install -g npm@latest'
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: Install npm
          command: npm install
      - run:
          name: Setup local configuration
          command: |
            source $ENV_VARS
            export host=$SERVER_URL
            export api_url=$API_URL
            if [[ "${CIRCLE_BRANCH}" == "master" ]]
            then
              export debug=
            else
              export debug=true
            fi
            envsubst < .env.deploy > .env.production
      - run:
          name: Build web client
          command: |
            source $ENV_VARS
            echo $WD_SYMFONY
            if [[ "${CIRCLE_BRANCH}" == "master" ]]
            then
              npm run build:prod_server
            else
              npm run build:server
            fi
            echo "Copying new files to web server"
            ssh $HOST "cd $WD_SYMFONY; rm -fr .tmp"
            ssh $HOST "cd $WD_SYMFONY; mkdir .tmp"
            scp .htaccess $HOST:$WD_SYMFONY/.tmp/.
            scp -r web/server/* $HOST:$WD_SYMFONY/.tmp/.
            scp -r .well-known $HOST:$WD_SYMFONY/.tmp/.
            ssh $HOST "cd $WD_SYMFONY; mv web web.bak && mv .tmp web"
            ssh $HOST "cd $WD_SYMFONY; rm -fr web.bak"
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - node_modules

  # build the app in the cloud to check for eslint or compilation errors
  build_gitflow:
    docker:
      - image: circleci/node:12.14.1
    working_directory: ~/ttc-app
    steps:
      - checkout
      - run:
          name: Install packages
          command: |
            sudo apt-get update && sudo apt-get install -y gettext-base
      - run:
          name: Update npm
          command: 'sudo npm install -g npm@latest'
      - run:
          name: Install react-native CLI
          command: 'sudo npm install -g react-native-cli'
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: Install npm
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - node_modules
      - run:
          name: Linting
          command: npm run lint:errors
      - run:
          name: Setup local configuration
          command: |
            if [[ "${CIRCLE_BRANCH}" == "master" ]]
            then
              export debug=
              envsubst < .env.deploy > .env.production
            else
              export debug=true
              envsubst < .env.deploy > .env.develop
            fi
      - run:
          name: Build web client
          command: mkdir -p ./web/server && npm run build:server
      - run:
          name: Build Android app
          command: |
            react-native bundle \
                --platform android \
                --dev false \
                --entry-file index.js \
                --bundle-output android-release.bundle \
                --sourcemap-output android-release.bundle.map
      - run:
          name: Build iOS app
          command: |
            react-native bundle \
                --platform ios \
                --dev false \
                --entry-file index.js \
                --bundle-output ios-release.bundle \
                --sourcemap-output ios-release.bundle.map

workflows:
  version: 2
  tagged-build:
    jobs:
      - build:
          filters:
            branches:
              only:
                - develop
                - fixtures
                - staging
                - master
      - build_gitflow:
          filters:
            branches:
              only:
                - /^feature\/.*/
                - /^hotfix\/.*/
                - /^release\/.*/
