.circle {
  width: 14px;
  height: 14px;
  border-radius: 50px;
  color: #fff;
}

.water {
  background-image: linear-gradient(to right, #3a8adb, #a5dce3);
}

.rock-sand-snow {
  background-image: linear-gradient(to right, #ea9c07, #ea9c07);
}

.grasslands {
  background-image: linear-gradient(to right, #c2ea69, #cee3a5);
}

.dense-vegetation {
  background-image: linear-gradient(to right, #7ba32e, #43600b);
}
