.gradient-result-line-component {
  margin-top: 20px;
  .title {
    margin-bottom: 16px;
    height: 19px;
    // font-family: OpenSans;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
  }

  .gradient-wrapper {
    position: relative;
    .gradient-result-line {
      color: #fff;
      width: 100%;
      height: 8px;
      border-radius: 24px;
      background-image: linear-gradient(
        to right,
        #00437c,
        #2801fa 40%,
        #fb431f 50%,
        #fbf700 55%,
        #75c700 67%,
        #04c400 86%,
        #049f04
      );
    }

    .highlight-line {
      position: absolute;
      color: transparent;
      bottom: -4px;
      height: 16px;
      border-radius: 4px;
      opacity: 0.4;
      background-image: linear-gradient(
        to right,
        rgba(176, 219, 114, 0.58),
        rgba(140, 203, 123, 0.78)
      );
    }
  }

  ul {
    position: relative;
    display: flex;
    list-style: none;
    padding: 0;
    li {
      width: 15px;
      font-size: 8px;
      color: transparent;
    }
  }
}
