.info-component {
  b {
    margin-left: 3px;
    margin-right: 3px;
  }

  .row {
    align-items: center;
  }

  .text-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  p {
    margin-top: 10px;
    height: 5px;
    font-family: OpenSans;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
    word-break: break-word;
  }
  .btn-container {
    margin-left: auto;
    align-self: center;
    img {
      width: 20px;
    }
  }
}
.letter-box {
  flex: 1;
}
