.info-component {
  margin-top: 21px;
  b {
    margin-left: 3px;
    margin-right: 3px;
  }

  .row {
    align-items: center;
    justify-content: space-between;
  }

  p {
    //---need to be moved in the ndvi portal
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    // ----
    font-size: 10px;
    line-height: 1.4;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
    word-break: break-word;
  }
}
.letter-box {
  flex: 1;
}
