@import "./ndvi-portal.scss";

.info-component {
  margin-top: 21px;
  b {
    margin-left: 3px;
    margin-right: 3px;
  }

  .row {
    align-items: center;
    justify-content: space-between;
  }

  p {
    @extend .ndvi-default-typography;
    font-size: 10px;
    line-height: 1.4;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
    word-break: break-word;
  }
}
