.legend-component {
  .gradient-container {
    margin-top: 10px;
    // width: 65%;
  }

  .flex-1 {
    flex: 1;
  }

  .pr-1 {
    padding-right: 0.5rem;
  }

  .pt-1 {
    padding-top: 0.5rem;
  }

  .pr-2 {
    padding-right: 1.1rem;
  }

  .flex-2 {
    flex: 2;
  }

  .title {
    width: 65px;
    height: 19px;
    // font-family: OpenSans;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
  }

  .gradient-description {
    margin: 0;
    height: 14px;
    // font-family: OpenSans;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
  }

  .dense-vegation {
    margin: -6px 0 0 0;
  }
}
