@import "./ndvi-portal.scss";

.legend-component {
  .gradient-container {
    margin-top: 10px;
  }

  .title,
  .gradient-container {
    @extend .ndvi-default-typography;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
  }

  .title {
    width: 65px;
    height: 19px;
    font-size: 14px;
    line-height: 1.36;
  }

  .gradient-description {
    margin: 0;
    height: 14px;
    font-size: 10px;
    line-height: 1.4;
  }
}
