.ndvi-img {
  width: 20px;
  height: 20px;
}

.btn-container {
  margin-left: auto;
  align-self: center;
}

.help-btn {
  margin-top: 4%;
  align-self: center;
}

.text-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-1 {
  flex: 1;
}

.pr-1 {
  padding-right: 0.5rem;
}

.pt-1 {
  padding-top: 0.5rem;
}

.pr-2 {
  padding-right: 1.1rem;
}

.flex-2 {
  flex: 2;
}
