.ndvi-default-typography {
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

.carbon-box {
  h4 {
    @extend .ndvi-default-typography;
    padding: 18px 0;
    height: 19px;
    opacity: 0.8;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.36;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
  }
}

.ndvi-img {
  width: 20px !important;
  height: 20px !important;
}

.btn-container {
  margin-left: auto;
  align-self: center;
}
