.ndvi-container {
  width: 344px;
  height: 331px;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  padding: 16px;
}

.month-keyword {
  padding-left: 40px;
  p {
    margin-left: 10px;
    width: 13px;
    height: 19px;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
  }
}
