.ndvi-container {
  width: 344px;
  // height: 331px;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  padding: 16px;
}

.month-keyword {
  height: 21px;
  width: 86.5%;
  margin-left: 14%;
  p {
    margin: 0;
    width: 13px;
    height: 19px;
    // font-family: OpenSans;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
  }
}

.loading-ndvi-container {
  width: 344px;
  height: 118px;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;

  .fetching-paragraph {
    width: 93%;
    height: 40px;
    // font-family: OpenSans;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
  }

  .refresh-box {
    margin-left: auto;
    align-self: center;
  }
}
