.time-series-component {
  margin-bottom: 16px;
  .time-serie-component {
    height: 21px;
    .flex-1 {
      flex: 1;
      height: 9px;
    }
    .flex-2 {
      flex: 2;
    }
    .date {
      margin: 0;
      width: 32px;
      height: 19px;
      font-family: OpenSans;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.36;
      letter-spacing: normal;
      text-align: left;
      color: rgba(0, 0, 0, 0.6);
    }
  }

  .circles {
    margin-left: -5px;
    li {
      margin-left: 9px;
    }
  }
}
