.pftp-card-layout {
  .target-form {
    display: flex;
    flex-direction: column;
  
    .row {
      display: flex;
      justify-content: space-between;
      @include for-phone-only {
        display: block;
      }
    }
  
    .half {
      width: 48%;
      @include for-phone-only {
        width: 100%;
       
      }
    }
  }
  
  @include for-phone-only {
    padding: 10% 10%
  }
}
.pftp-button-primary {
    width: 50%;
    margin: auto;
    align-items: center;
}