.search-bar:focus-within,
.search-bar:active,
.search-bar:hover {
  input {
    width: 300px;
    opacity: 1;
  }
  .header-icons {
    color: $colorPrimary;
  }
}

.search-bar {
  display: flex;
  align-items: center;
  position: relative;

  .header-icons {
    right: 10px;
    z-index: 1;
    position: absolute;
  }

  input {
    border: none;
    margin: 0;
    width: 0;
    z-index: -1;
    opacity: 0;
  }
  input:focus {
    width: 300px;
    opacity: 1;
    .header-icons {
      color: $colorPrimary;
    }
  }

  .react-autosuggest__container {
    position: relative;

    .react-autosuggest__suggestions-container {
      position: absolute;
      margin-top: 1px;
      width: calc(100% + 8px);
      left: 0px;
      right: 0px;
      background-color: white;
    }
  }

  .search-bar__button {
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .search-bar:focus-within,
  .search-bar:active,
  .search-bar:hover {
    input {
      width: 100px;
      opacity: 1;
    }
  }
}

@media only screen and (min-width: 600px) {
  .search-bar:focus-within,
  .search-bar:active,
  .search-bar:hover {
    input {
      width: 200px;
      opacity: 1;
    }
  }
}

@media only screen and (min-width: 992px) {
  .search-bar:focus-within,
  .search-bar:active,
  .search-bar:hover {
    input {
      width: 360px;
      opacity: 1;
    }
  }
}
