.search-bar:focus-within,
.search-bar:active,
.search-bar:hover {
  input {
    width: 300px;
    opacity: 1;
  }
  .search-icon {
    color: $colorPrimary;
  }
}

.search-bar {
  display: flex;
  align-items: center;
  position: relative;

  .search-icon {
    right: 10px;
    z-index: 1;
    position: absolute;
    color: white;
  }

  input {
    @extend .pftp-text-basic;
    border: none;
    margin: 0;
    width: 0;
    z-index: -1;
    opacity: 0;
    color: $colorPrimaryDark;
    padding-right: 35px;
  }
  input:focus {
    width: 300px;
    opacity: 1;
    .search-icon {
      color: $colorPrimary;
    }
  }

  .react-autosuggest__container {
    position: relative;

    .react-autosuggest__suggestions-container {
      position: absolute;
      width: 100%;
      left: 0px;
      right: 0px;
      background-color: white;
    }
  }

  .search-bar__button {
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .search-bar:focus-within,
  .search-bar:active,
  .search-bar:hover {
    input {
      width: 100px;
      opacity: 1;
    }
  }
}

@media only screen and (min-width: 600px) {
  .search-bar:focus-within,
  .search-bar:active,
  .search-bar:hover {
    input {
      width: 200px;
      opacity: 1;
    }
  }
}

@media only screen and (min-width: 992px) {
  .search-bar:focus-within,
  .search-bar:active,
  .search-bar:hover {
    input {
      width: 360px;
      opacity: 1;
    }
  }
}
