.search-autusuggest__listitem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  width: 100%;

  img {
    width: 25px;
    max-height: 25px;
    margin: 5px 9px;
    border-radius: 100%;
  }
  span {
    @extend .pftp-text-basic;
    width: calc(100% -25px);
    word-wrap: break-word;
    overflow: hidden;
    font-size: 14px;
    color: $colorPrimary;
  }
}
.react-autosuggest__suggestion {
  :hover {
    background-color: $hoverColor;
  }
}
