.pftp-button-primary {
  background-color: $colorPrimary;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 24px;
  display: flex;
  width: 100%;
  border-radius: 7px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.pftp-button-secondary {
  @extend .pftp-button-primary;
  background-color: $colorPrimaryAccent;
}

.pftp-button-rounded {
  @extend .pftp-button-primary;
  background-color: transparent;
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 12px;
  border: 2px solid;
  white-space: nowrap;
  border-radius: 10px;
}

.pftp-button-transparent {
  color: $colorPrimary;
  text-align: left;
  cursor: pointer;
  padding: 5px 0;

  &:hover {
    color: $colorPrimary;
  }

  img {
    height: 18px !important;
  }

  span {
    padding: 0 10px;
  }
}
