.pftp-button-primary {
  background-color: $colorPrimary;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 24px;
  display: flex;
  width: 100%;
  border-radius: 7px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.pftp-button-secondary {
  @extend .pftp-button-primary;
  background-color: $colorPrimaryAccent;
}

.pftp-button-follow {
  @extend .pftp-button-primary;
  margin: 0 10px;
  border-radius: 0;
  padding: 0;
  height: 30px;
  width: inherit;
  background-color: $colorPrimaryDark;
  color: white;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  padding: 0 24px;
}
.pftp-button-following {
  @extend .pftp-button-follow;
  background-color: $colorPrimaryAccent;
}
.support-button-caption {
  max-width: 115px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.pftp-button-rounded {
  @extend .pftp-button-primary;
  background-color: transparent;
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 12px;
  border: 2px solid;
  white-space: nowrap;
  border-radius: 10px;
}

.pftp-button-transparent {
  color: $colorPrimary;
  text-align: left;
  cursor: pointer;
  padding: 5px 0;
  display: flex;
  align-items: center;

  &:hover {
    color: $colorPrimary;
  }

  img {
    height: 18px !important;
  }

  span {
    padding: 0 10px;
  }
}

.pftp-addbutton {
  display: flex;
  align-items: center;
  padding: 10px 0 20px;
  button {
    color: #ec6453;
    background: transparent;
    border: none;
    cursor: pointer;
  }
}
