.pftp-card-layout {
  box-shadow: 0px 4px 12px 0 rgba(0, 0, 0, 0.1);
  padding: 40px 60px;
  background-color: white;
  margin: 30px;
  text-align: center;
  border-radius: 15px;
}

.card-width {
  max-width: 500px;
  display: flex;
  justify-content: center;
}
