$bg-color: #424242;

.pftp-checkbox {
  display: flex;
  margin-bottom: 10px;

  .pftp-checkbox__input {
    margin-top: 5px;
    margin-right: 5px;
    margin-left: -30px;
  }
}

.payment-save-later-checkbox {
  margin-left: 3%;
  margin-right: 1%;
}

.pftp-newcheckbox{
  .pftp-checkbox {
    width: 100%;
    margin-top: 20px;
    position: relative;
    display: block;
    .pftp-checkbox__input {
      margin-top:0px;
      margin-right: 13px;
      margin-left: 0px;
      width: auto;
      opacity: 0.00000001;
      position: absolute;
      left: 0;
      margin-left: -20px;
    }

    label {
      position: relative;
    }
  
    label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      margin: 4px;
      width: 18px;
      height: 18px;
      transition: transform 0.28s ease;
      border-radius: 3px;
      border: 2px solid #89b53a;
    }
  
    label:after {
      content: '';
        display: block;
        width: 10px;
        height: 5px;
        border-bottom: 2px solid #fff;
        border-left: 2px solid #fff;
        -webkit-transform: rotate(-45deg) scale(0);
        -moz-transform: rotate(-45deg) scale(0);
        -ms-transform: rotate(-45deg) scale(0);
        transform: rotate(-45deg) scale(0);
        position: absolute;
        top: 10px;
        left: 9px;
      }
  
      input[type="checkbox"]:checked ~ label::before {
        color: #89b53a;
        background-color: #89b53a;
      }
  
      input[type="checkbox"]:checked ~ label::after {
        -webkit-transform: rotate(-45deg) scale(1);
        -moz-transform: rotate(-45deg) scale(1);
        -ms-transform: rotate(-45deg) scale(1);
        transform: rotate(-45deg) scale(1);
      }
  
      label {
        min-height: 34px;
        display: flex;
        padding-left: 40px;
        margin-bottom: 0;
        font-weight: normal;
        cursor: pointer;
        font-size: 12px;
        line-height: 1.42;
        letter-spacing: normal;
        color: #4d5153;
        align-items: center;
      }
  
      label span {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
      }
  
      input[type="checkbox"]:focus + label::before {
        outline: 0;
      }

  }
}
