.content-header_container {
  background-color: $colorPrimary;
  color: #ffffff;
  height: 80px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.donate .slick-initialized .slick-dots button {
  pointer-events: none;
}