.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100vh;
  .counter {
    color: red;
  }
  .container {
    margin-bottom: 20px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .page404 {
    width: 400px;
    height: auto;
  }

  #tree {
    stroke: #59513c;
  }

  #wood-stump {
    stroke: #59513c;
    -webkit-animation: wood-stump 3s infinite ease-in-out;
    -moz-animation: wood-stump 3s infinite ease-in-out;
    -o-animation: wood-stump 3s infinite ease-in-out;
    animation: wood-stump 3s infinite ease-in-out;
  }

  @-webkit-keyframes wood-stump {
    0% {
      -webkit-transform: translate(100px);
    }
    50% {
      -webkit-transform: translate(50px);
    }
    100% {
      -webkit-transform: translate(100px);
    }
  }
  @-moz-keyframes wood-stump {
    0% {
      -moz-transform: translate(100px);
    }
    50% {
      -moz-transform: translate(50px);
    }
    100% {
      -moz-transform: translate(100px);
    }
  }
  @-o-keyframes wood-stump {
    0% {
      -o-transform: translate(100px);
    }
    50% {
      -o-transform: translate(50px);
    }
    100% {
      -o-transform: translate(100px);
    }
  }
  @keyframes wood-stump {
    0% {
      -webkit-transform: translate(100px);
      -moz-transform: translate(100px);
      -ms-transform: translate(100px);
      transform: translate(100px);
    }
    50% {
      -webkit-transform: translate(0px);
      -moz-transform: translate(0px);
      -ms-transform: translate(0px);
      transform: translate(0px);
    }
    100% {
      -webkit-transform: translate(100px);
      -moz-transform: translate(100px);
      -ms-transform: translate(100px);
      transform: translate(100px);
    }
  }

  #leaf {
    stroke: #bad788;
    -webkit-animation: leaf 7s infinite ease-in-out;
    -moz-animation: leaf 7s infinite ease-in-out;
    -o-animation: leaf 7s infinite ease-in-out;
    animation: leaf 7s infinite ease-in-out;
  }

  @-webkit-keyframes leaf {
    0% {
      -webkit-transform: translate(0, 70px);
    }
    50% {
      -webkit-transform: translate(0, 50px);
    }
    100% {
      -webkit-transform: translate(0, 70px);
    }
  }
  @-moz-keyframes leaf {
    0% {
      -moz-transform: translate(0, 70px);
    }
    50% {
      -moz-transform: translate(0, 50px);
    }
    100% {
      -moz-transform: translate(0, 70px);
    }
  }
  @-o-keyframes leaf {
    0% {
      -o-transform: translate(0, 70px);
    }
    50% {
      -o-transform: translate(0, 50px);
    }
    100% {
      -o-transform: translate(0, 70px);
    }
  }
  @keyframes leaf {
    0% {
      -webkit-transform: translate(0, 70px);
      -moz-transform: translate(0, 70px);
      -ms-transform: translate(0, 70px);
      transform: translate(0, 70px);
    }
    50% {
      -webkit-transform: translate(0px);
      -moz-transform: translate(0px);
      -ms-transform: translate(0px);
      transform: translate(0px);
    }
    100% {
      -webkit-transform: translate(0, 70px);
      -moz-transform: translate(0, 70px);
      -ms-transform: translate(0, 70px);
      transform: translate(0, 70px);
    }
  }

  #border {
    stroke: #59513c;
  }

  #Page {
    fill: #59513c;
  }
  #notFound {
    fill: #a7444b;
  }
}
