.filepicker-wrapper {
  .pftp-filepicker {
    position: relative;
    overflow: hidden;
    margin: 20px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .browse-button {
      @extend .pftp-button-primary;
      min-width: 58px !important;
      height: 25px;
      font-size: 12px;
      margin: 0 !important;
      padding: 5px;
      border-radius: 0;
      width: 30px;
    }
    .file-input {
      position: absolute;
      left: 0;
      opacity: 0;
      cursor: pointer;
      height: 100%;
      width: 100%;
      top: 0;
    }

    .value-label {
      padding: 0;
      padding-left: 10px;
    }
    img {
      width: 50px;
      margin-left: 20px;
    }
  }
  .error-msg {
    margin: 0;
  }
}
