.pftp-basic-heading {
  font-family: Open Sans;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  padding-bottom: 10px;
  margin: 20px 20px;
  margin-bottom: 0;
}

.pftp-text-heading {
  @extend .pftp-basic-heading;
  font-size: 41px;
  color: #575756;
  display: inline-block;
}

.pftp-text-heading:after {
  content: "";
  border-bottom: 3px solid #bad788;
  width: 130px;
  display: flex;
  margin-left: auto;
  margin-top: 10px;
  margin-right: auto;
  bottom: 0;
}

.pftp-button-heading {
  display: flex;
  justify-content: center;
  & > div {
    @extend .pftp-basic-heading;
  }
}

.pftp-description-heading {
  padding: 20px;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: center;
  color: #575756;
}
