// VARIABLES // ============================== //
$bg-color: #424242;
$muted-color: mix(white, $bg-color, 70%);

.pftp-intfield {
  display: flex;
  align-items: center;
  margin: 20px 0;

  .pftp-intfield__icon {
    width: 20px;
    padding-right: 8px;
    margin-left: -30px;
  }
  .pftp-intfield__inputgroup {
    position: relative;
    width: 100%;

    input {
      background: $bg-color;
      color: mix(white, $bg-color, 70%);
      font-size: 18px;
      padding: 5px 10px 10px 5px;
      display: block;
      width: 100%;
      box-sizing: border-box;
    }
  }
}
