.ModalPortal {
  z-index: 10000;
}
.Modal {
  @include for-phone-only {
    min-width: initial;
    margin: 0;
    padding: 40px 30px;
  }
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  display: inline-block;
  min-width: 476px;
  min-height: 366px;
  background-color: #fff;
  outline: none;
  padding: 40px 60px;
  background-color: white;
  margin: 30px;
  text-align: center;
  border-radius: 15px;
  box-sizing: border-box;
  .closeIcon {
    height: 28px;
    width: 28px;
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 0;
  }
  .modal-container {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.progressModal {
  @extend .Modal;
  min-width: 100px;
  min-height: 100px;
}

.widthAdjust {
  min-width: 350px;
}

.image_full_width {
  width: 100%;
}

.continue_on_site {
  background-color: #efefef;
  height: 52px;
  line-height: 2.7;
  border-radius: 5px;
}

.or_class {
  margin: 20px;
  font-weight: 600;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
}
