.pftp-popover {
  .pftp-popover__button {
    cursor: pointer;
    user-select: none;

    &.focus {
      pointer-events: none;
    }
  }

  .pftp-popover__container {
    display: block;
    position: fixed;
    background-color: #fff;
    color: black;
    padding: 15px;
    overflow: auto;
    right: -10000px;
    z-index: 999;
    box-shadow: $boxShadow;
    outline: none;

    &:focus {
      right: 10px;
    }
  }
}
