.pftp-popover {
  display: flex;
  padding: 0 10px;

  img {
    height: 30px;
  }

  .pftp-popover__button {
    cursor: pointer;
    user-select: none;
    display: flex;
    height: 100%;
    align-items: center;

    &.focus {
      pointer-events: none;
    }
  }

  .pftp-popover__container {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #fff;
    max-height: 400px;
    color: black;
    overflow: auto;
    right: -10000px;
    border-radius: 20px;
    min-width: 250px;
    z-index: 999;
    box-shadow: $boxShadow;
    outline: none;
    padding: 10px 20px;
  }
  .pftp-popover__arrow {
    position: fixed;
    right: -10000px;
    z-index: 1000;
    outline: none;
    margin-top: 5px;
    // Arrow
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid white;
  }
}

.pftp-popover__container::-webkit-scrollbar {
  width: 6px;
  height: 2px;
  display: none;
}

.pftp-popover__container::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 20px;
}
