$bg-color: #424242;
$muted-color: mix(white, $bg-color, 70%);

.pftp-selectfield {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;

  .pftp-selectfield__select {
    background: none;
    width: 100%;
    font-size: 18px;
    box-sizing: border-box;
    padding: 5px 10px 10px 5px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid mix(white, $bg-color, 70%);
    color: mix(white, $bg-color, 70%);
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0px;
    background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
    background-position: 99% 50%;
    background-repeat: no-repeat;
    background-size: 16px;
  }

  .pftp-selectfield__select-error {
    @extend .pftp-selectfield__select;
    border-bottom: 1px solid $colorError;
    color: $colorError;
  }

  .pftp-selectfield__option {
    @extend .pftp-selectfield__select;
    text-transform: capitalize;
  }
}
