.slick-initialized {
  .slick-dots {
    top: -70px;
    height: 10px;

    li {
      margin: 0 5px;
      width: 8px;
      height: 8px;
    }

    button {
      width: 5px;
      height: 5px;
    }

    button:before {
      color: transparent;
      border: 2px solid #ffffff;
      border-radius: 100%;
      line-height: 10px;
      opacity: 1;
      width: 5px;
      height: 5px;
    }

    .slick-active {
      background-color: #ffffff;
      border-radius: 100%;
      button:before {
        color: #ffffff;
        opacity: 1;
      }
    }
  }
}
