.pftp-tabs {
  display: flex;
  flex-direction: column;
  align-items: center;

  .pftp-tabs__type {
    display: flex;
    justify-content: center;
    border: 2px solid #ff644e;
    border-radius: 4px;

    .pftp-tabs__type--option {
      padding: 20px 10px;
      margin: 0;
      flex: 1;
      text-align: center;
      color: #ff644e;
      cursor: pointer;

      input {
        display: none;
      }

      span {
        font-family: Myriad Pro;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        white-space: nowrap;
      }

      &.active {
        background: #ff644e;
        color: white;
      }
    }
  }
}
