.pftp-tabs {
  align-items: center;
  display: flex;
  flex-direction: column;
  .pftp-tabs__type {
    display: flex;
    width: 80%;
    font-size: 15px;
    justify-content: center;
    border: 4px solid #ff644e;
    border-radius: 5px;

    .pftp-tabs__type--option {
      padding: 10px;
      margin: 0;
      flex: 1;
      text-align: center;
      color: #ff644e;
      cursor: pointer;

      input {
        display: none;
      }
      &.active {
        background: #ff644e;
        color: white;
      }
    }
  }
}
