.pftp-text-basic {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9c9b9b;
}

.pftp-text-span {
  @extend .pftp-text-basic;
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
}

.bold {
  font-weight: 600;
}

.pftp-text-block {
  @extend .pftp-text-basic;
  text-align: center;
  color: #696261;
}

.link {
  color: #ec6453;
  display: inline;
  cursor: pointer;
}

.pftp-text-normal {
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}