// VARIABLES // ============================== //
$bg-color: #424242;
$muted-color: mix(white, $bg-color, 70%);
$trans-time: 300ms;

.pftp-textfield {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex: 1;

  .pftp-textfield__icon {
    width: 20px;
    padding-right: 8px;
    margin-left: -30px;
  }
  .pftp-textfield__inputgroup {
    position: relative;
    width: 100%;

    input,
    textarea {
      background: none;
      color: mix(white, $bg-color, 70%);
      font-size: 18px;
      padding: 5px 10px 10px 5px;
      display: block;
      width: 100%;
      box-sizing: border-box;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid mix(white, $bg-color, 70%);
      &:focus {
        outline: none;
      }
      &:focus ~ label,
      &:valid ~ label {
        top: -14px;
        font-size: 12px;
        color: $colorPrimary;
      }
      &:focus ~ .pftp-textfield__inputgroup--bar:before {
        width: 100%;
      }
    }
    label {
      color: $muted-color;
      font-size: 16px;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 5px;
      top: 10px;
      transition: $trans-time ease all;
    }
    .error-label {
      color: red !important;
    }

    .pftp-textfield__inputgroup--bar {
      position: relative;
      display: block;
      width: 100%;
      &:before {
        content: "";
        height: 2px;
        width: 0;
        bottom: 0px;
        position: absolute;
        background: $colorPrimary;
        transition: $trans-time ease all;
        left: 0%;
      }
    }
    .pftp-textfield__inputgroup--error-bar {
      @extend .pftp-textfield__inputgroup--bar;
      &:before {
        background: $colorError;
      }
    }
    .pftp-textfield__inputgroup--highlightr-error {
      background: $colorError;
    }
  }
  .pftp-textfield__error-inputgroup {
    @extend .pftp-textfield__inputgroup;
    input,
    textarea {
      border-bottom: 1px solid $colorError;
      &:focus {
        border: none;
        border-bottom: 1px solid mix(white, $bg-color, 70%);
      }
    }
  }
}

// Override date type input
input[type="date"]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
input[type="date"]:focus::-webkit-datetime-edit {
  color: black !important;
}
