.explore-page {
  min-width: 500px;
}
.explore-checkbox {
  display: flex;
  padding: 10px 0;

  .explore-checkbox--option {
    padding-right: 20px;

    &:last-child {
      padding-right: 0;
    }
  }
}
