<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TreecounterApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4FE768B3FE346EF20F89CA612917D2EE77C4B252</string>
				<key>dateExpires</key>
				<string>04/05/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>UYRJ8SA699.UYRJ8SA699.org.reactjs.native.example.TreecounterApp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>UYRJ8SA699</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>UYRJ8SA699.UYRJ8SA699.org.reactjs.native.example.TreecounterApp</string>
				</array>
			</dict>
			<key>name</key>
			<string>TreecounterApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0149e261-820f-4e69-98d9-ccec76a15df6</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>UYRJ8SA699</string>
				<key>name</key>
				<string>Plant-for-the-Planet Foundation, Stiftung des bürgerlichen Rechts</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
