.redemption_container {

  .redeem_card_layout {
    @extend .pftp-card-layout;
    max-width: 416px;

    .imageContainerRedeem {
      width: 76px;
      height: 76px;
      margin: 35px;
      @include for-phone-only {
        width: 66px;
        height: 66px;
        img {
          width: 66px;
          height: 66px;
        }
      }
    }
  }


  .pftp-card-layout {
    .redemption-form {
      display: flex;
      flex-direction: column;

      .row {
        display: flex;
        justify-content: space-between;
        @include for-phone-only {
          display: block;
        }
      }

      .half {
        width: 48%;
        @include for-phone-only {
          width: 100%;
        }
      }
    }

    @include for-phone-only {
      padding: 10% 10%;
    }
  }
  .pftp-button-primary {
    width: auto;
    margin: auto;
    align-items: center;
  }
}
