.app-container__content {
  // align-items: unset !important;
  .pftp-button-primary {
    margin-top: 10px;
  }
  .manage-project-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 20px;
    margin-top: 40px;
    justify-content: space-around;
    align-items: flex-start;
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .project-list-container {
      display: flex;
      flex-direction: column;
      min-width: 50%;
      @include for-phone-only {
        width: 90%;
      }
      .pftp-checkbox__input {
        margin-left: 0;
        margin-top: 2px;
      }
    }
    .donation-info-list {
      align-self: flex-start;
      min-width: 35%;
      @include for-phone-only {
        min-width: 90%;
      }
    }
    .pftp-card-layout {
      margin: 0;
      margin-bottom: 20px;
    }
    .pftp-collapsible-card-layout {
      @extend .pftp-card-layout;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 600px;
      box-sizing: border-box;
      width: 100%;
      padding: 7px 20px 15px 20px;
      position: relative;
      transition: all 0.3s ease-in-out;
      width: 100%;
      font-size: 14px;
      @include for-tablet {
        max-width: 500px;
      }
      @include for-big-desktop-up {
        max-width: 718px;
      }

      .pftp-card-header {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        min-height: 80px;

        width: 100%;
        box-sizing: border-box;
        .project-editor-row {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          .plant-project-name {
            @extend .pftp-text-basic;
            font-size: 20px;
            font-weight: bold;
          }
        }
        .margin-item {
          margin-right: 12px;
        }
        .light-text {
          color: #c4c4c4;
        }
        .project-basic-info-row {
          @extend .project-editor-row;
          margin-top: 17px;
        }
        .small-icon {
          @extend .margin-item;
          height: 15px;
          width: 15px;
        }
        .icon {
          height: 24px;
          width: 24px;
          margin: 0 5px;
        }
      }
      .pftp-card-picker {
        transition: all 0.3s ease-in-out;
        min-height: 300px;
        width: 100%;
      }
    }
    .project-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
