.select-project_button__container {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;

  .pftp-button-primary {
    margin-top: 10px;
  }

  button {
    border-radius: 19px;
    background-color: #668c2e;
    width: 213.5px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin: 0px;
    padding: 0px;
    height: 37px;
  }
}
.donate-tress__container {
  position: relative;
  max-width: 750px;
  height: auto;
  box-shadow: 0px 4px 12px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-top: 10px;

  .pftp-tabs__type {
    margin-top: 5%;
    @include for-phone-only {
      margin-top: 10%;
    }
  }

  .donate-tree-nav-img__right {
    position: absolute;
    max-height: 40px;
    max-width: 40px;
    cursor: pointer;
    color: transparent;
    display: block;
    padding: 0;
    top: -90px;
    right: -5%;
  }
  .donate-tree-nav-img__left {
    position: absolute;
    max-height: 40px;
    max-width: 40px;
    cursor: pointer;
    color: transparent;
    display: block;
    padding: 0;
    top: -90px;
    left: -20px;
  }

  .content-header_container {
    line-height: 2.5;
    align-items: unset;
  }

  .slick-initialized {
    margin-top: 30px;

    .slick-list {
      height: auto;
    }
  }

  .pftp-tabs {
    font-size: 15px;
    .react-autosuggest__container {
      width: 100%;
      input {
        background: none;
        color: #000000;
        font-size: 18px;
        padding: 5px 10px 10px 5px;
        display: block;
        width: 100%;
        box-sizing: border-box;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid mix(white, #424242, 70%);
      }
    }
    .pftp-textarea {
      margin-top: 20px;
      width: 100%;
      height: 200px;
      textarea {
        width: 94%;
        height: 90%;
        border: 1px solid #c6c6c6;
        color: #68605f;
      }
    }

    .fieldset {
      width: 100%;
    }
  }

  .treecount-container {
    margin-top: 30px;
    height: auto;

    .treecount-price-conversion {
      display: flex;
      justify-content: space-between;
      padding: 25px 10px 0 10px;
      box-sizing: border-box;
      width: 100%;

      label {
        display: flex;
        align-items: center;
        input {
          margin: 0 10px;
        }
      }

      .price-conversion__equal {
        padding: 0px 5px 0 5px;
      }

      .price-conversion__radio {
        width: 60%;

        input[type="text"] {
          border: none;
          border-radius: 0;
          padding: 0;
          width: 70px;
          border-bottom: 1px solid mix(white, #424242, 70%);
          font-size: 1rem;
        }
      }

      .price-conversion__amount {
        width: 40%;

        input[type="text"] {
          border: none;
          border-radius: 0;
          padding: 0;
          width: 110px;
          border-bottom: 1px solid mix(white, #424242, 70%);
          font-size: 1rem;
        }
      }
    }
  }
}
.project-teaser__container {
  display: flex;
  flex-direction: column;
  .teaser__projectImage {
    width: 100%;
    height: 250px;
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
  }
  .teaser__certified {
    width: 14px;
    height: 14px;
    vertical-align: middle;
    display: inline-block;
  }
  .teaser__tpoHeading {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #464646;
    padding-top: 10px;
    padding: 5px;
  }
  .teaser__certified__container {
    align-self: center;
  }
}

.project-specs__container {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 5px;
  padding-top: 10px;
  font-size: 16px;
  line-height: 1.38;
  color: #464646;
  .project-specs__cost {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    font-size: 15px;
    font-weight: bold;
  }
  .project-specs__detail {
    display: flex;
    width: 50%;

    .project-specs-left__container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
    }
  }
  .project-specs__item {
    font-weight: normal;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 3px;
    width: 100%;
    img {
      height: 20px;
      width: 20px;
      display: inline-block;
      margin: 2px;
      margin-right: 5px;
    }
    .project-specs__item__value {
      padding-left: 5px;
    }
    .currency-symbol {
      margin-right: 2px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .project-specs__taxdeductible {
    width: 100%;
    background-color: #fff;
    padding-left: 20px;
  }
}

.project-action-links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  height: 30px;
  background-color: #f6f6f6;

  .select_different_project_style {
    padding-left: 20px;
    cursor: pointer;
    color: $spanTextColor;
  }

  .link {
    padding: 10px 0;
  }
  .collapsed {
    border: none;
    cursor: pointer;
  }

  .expanded {
    border: none;
    cursor: pointer;
  }
}

.select-project__container {
  @extend .donate-tress__container;
  .slick-initialized {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .select-project__header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  .plant_project_content {
    // @extend .pftp-card-layout;
    margin: 0px;
    box-shadow: none;
    padding: 0px;
    height: 100%;
    overflow: auto;
    width: 100%;
    align-items: normal;
    text-align: left;
  }
}

.remove_shadow {
  box-shadow: none;

  .slick-initialized {
    box-shadow: 0px 4px 12px 0 rgba(0, 0, 0, 0.1);
  }
}

.tpo-footer-nav-img {
  position: absolute;
  max-height: 40px;
  max-width: 40px;
  cursor: pointer;
  color: transparent;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  display: block;
  padding: 0;
  top: 50%;
  @include for-phone-only {
    max-height: 30px;
    max-width: 30px;
  }
}

.tpo-footer-nav-img__left {
  @extend .tpo-footer-nav-img;
  left: -55px;
  @include for-phone-only {
    left: -50px;
  }
}
.tpo-footer-nav-img__right {
  @extend .tpo-footer-nav-img;
  right: -55px;
  @include for-phone-only {
    right: -50px;
  }
}

.projects-list {
  padding: 10px;
  color: #686060;
  width: 99%;
  max-width: 100%;
  margin: 0 4px;

  .pftp-button-primary {
    font-size: 13px;
    padding: 5px;
    width: 70px;
    margin: 0;
    min-height: 30px;
    border-radius: 3px;
  }

  .align-left {
    text-align: left;
  }

  .align-right {
    text-align: right;
  }

  th {
    font-weight: normal;
    padding: 5px;
    border-bottom: solid 2px #efefef;
    width: 25%;
  }

  td {
    padding: 5px;
  }
}

.flex {
  display: flex;
}

.margin_radio {
  margin: auto;
  margin-left: 20px;
}

.all-projects-card {
  flex-direction: column;
  align-items: center;
  display: flex;
  margin-top: 20px;
  width: 100%;
  margin: 20px;

  .table-responsive {
    width: calc(100% - 60px);
    overflow-y: scroll;
    min-height: 0.01%;
    overflow-x: auto;
  }

  .pftp-textfield {
    width: 60%;
    margin-bottom: 30px;
    .search-bar__button {
      height: 36px;
      width: 35px;
      border-bottom: 1px solid #c6c6c6;

      .material-icons {
        font-size: 20px;
        line-height: 2;
      }
    }
  }
}

.project-modal-card-layout {
  // @extend .tpo-footer-card-layout;
  margin: 0 -20px;
  box-shadow: none;
  overflow: scroll;
  max-height: 80vh;
  min-width: 500px;

  .collapsed {
    border: none;
    cursor: pointer;
    span {
      color: #ec6453;
    }
  }

  .expanded {
    border: none;
    cursor: pointer;
    span {
      color: #ec6453;
    }
  }
}
.payment_options__wrapper {
  min-height: 470px;
  .payment_option_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.payment-option {
  display: flex;
  flex-direction: column;
  border: solid 0.7px #0e7baa;
  border-radius: 6px;
  margin-bottom: 20px;

  .__PrivateStripeElement {
    height: 20px;
  }

  .StripeElement {
    padding: 20px;
    width: 100%;
  }

  .pftp-button-primary {
    margin: 10px;
    width: calc(100% - 20px);
    display: flex;
    border-radius: 22px;
  }

  .payment-option-header {
    padding: 10px;
    background-color: #0e7baa;
    color: #ffffff;
    display: flex;
    justify-content: space-between;

    img {
      height: 25px;
      transition: 1s;
    }

    span {
      display: flex;
      img {
        margin-right: 20px;
      }
    }

    .arrow {
      transform: rotate(180deg);
    }
  }

  .mandate-acceptance {
    text-align: left;
    color: #686060;
    font-size: 14px;
    padding: 20px;
    padding-top: 0px;
  }

  .centerize-paypal {
    margin: 40px 0;
  }

  .confirm-checkbox {
    text-align: left;
    padding: 20px;
    color: #686060;
    font-size: 14px;

    input[type="checkbox"] {
      margin-right: 10px;
    }
  }

  .account-details {
    @extend .confirm-checkbox;
    color: #89a550;
    width: 240px;
  }
}

.display-none {
  display: none;
}

.payment-success {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 80px;
    height: 80px;
  }
}

.payment-options-container {
  width: 300px;
}

.planted-project-progressbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #d2e3af;
  height: 34px;
  .tree-planted-container {
    height: 100%;
    display: flex;
    width: 100%;
    position: relative;
    .tree-count-container {
      display: flex;
      flex-direction: row;
      position: absolute;
      align-items: center;
      height: 100%;
      padding-left: 5px;
      .treePlantedtextTrees {
        padding-left: 5px;
      }

      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.38;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
    }
    .tree-width-container {
      height: 100%;
      display: flex;
      background-color: #b9d384;
      border-color: #b9d384;
      padding-right: 10px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      border-width: 0.5px;
    }
    .empty-tree-container {
      height: 100%;
      display: flex;
      padding: 5;
    }
  }
  .targetContainer {
    width: 100%;
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #61695e;
    .target-icon-container {
      padding: 5px;
      width: 20px;
      height: 20px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
.pftp-tabs,
.modal-container {
  font-size: 15px;

  img {
    height: 25px;
    width: 25px;
  }
  .react-autosuggest__container {
    width: 100%;
    input {
      background: none;
      color: #000000;
      font-size: 18px;
      padding: 5px 10px 10px 5px;
      display: block;
      width: 100%;
      box-sizing: border-box;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid mix(white, #424242, 70%);
    }
  }

  .fieldset {
    width: 100%;
  }
}
