body {
    padding-top: 50px;
    color: $alert-warning-text;
  }
  
  .main-container {
    padding: 40px 15px;
  
    a .recipe-body {
      text-decoration: none;
      color: black;
    }
  
  }
  
  #search-box {
    width: 300px;
    margin-top: 20px;
  }
  
  .theme-container {
    position:relative;
    overflow: auto;
    margin: 4px;
    border: 1px solid #CCC;
    border-radius: 4px;
    padding: 4px 8px;
  }
  
  .spot-container {
    &.tree {
      background-color: #DBF5D8;
    }
    &.no-tree {
      background-color: #EEEEEE;
    }
    &.selected {
      background-color: #FFCC66;
    }
    &.visited {
      background-color: #FFF2C3;
    }
  
    width: 150px;
    text-align: center;
    float: left;
    margin: 4px;
    border: 1px solid #CCC;
    border-radius: 4px;
    padding: 4px 8px;
  }
  
  .tree-popup {
    background-color: #FFF2C3;
    top: 75px;
    left: 100px;
    position: absolute;
    margin: 4px;
    border: 1px solid #CCC;
    border-radius: 4px;
    padding: 4px 8px;
    z-index: 1000;
  }
  
  #loading-indicator {
    text-align: center;
    visibility: hidden;
    &.active {
      visibility: visible;
    }
  }
  
  a.dragged img { border: 2px solid red; }