#treeCounter {
    width: 850px;
    height: 850px;
    margin: 20px auto;
    display: block;
    background-image: url("/bundles/pftpbilliontree/images/bg_light.png");
    border: 1px solid darkgrey;
    position: relative;
  }
  
  .t.hide, .p.hide {
    &.crown,
    &.stem,
    &.shadow,
    &.pot,
    &.leaf1,
    &.leaf2,
    &.leaf3 {
      display: none;
    }
  }
  .t {
    &.default {
      &.stem {
        fill: #8B946B;
      }
      &.crown {
        fill: #D7E5AC;
      }
      &.shadow {
        fill: #BAC892;
      }
    }
    &.g1 {
      &.stem {
        fill: #2e411c;
      }
      &.crown {
        fill: #66922e;
      }
      &.shadow {
        fill: #50742b;
      }
    }
    &.g2 {
      &.stem {
        fill: #66802a;
      }
      &.crown {
        fill: #8fb224;
      }
      &.shadow {
        fill: #7c9b2f;
      }
    }
  }
  .p {
    &.default {
      &.pot {
        fill: #7f6c5e;
      }
      &.shadow {
        fill: #5e4c43;
      }
      &.stem {
        fill: #564f48;
      }
      &.leaf1 {
        fill: #66922f;
      }
      &.leaf2 {
        fill: #87bc24;
      }
      &.leaf3 {
        fill: #50752c;
      }
    }
  }
  
  .openCircle {
    fill: none;
    stroke: #c4d19a;
    stroke-miterlimit: 10;
    stroke-width: 45px;
  }
  .tree.circle.g1 {
    fill: none;
    stroke: #4d6c29;
    stroke-miterlimit: 10;
    stroke-width: 45px;
  }
  .tree.circle.g2 {
    fill: none;
    stroke: #7da12c;
    stroke-miterlimit: 10;
    stroke-width: 45px;
  }
  .pot.circle.default {
    fill: none;
    stroke: #5D4B43;
    stroke-miterlimit: 10;
    stroke-width: 45px;
  }
  
  
  
  .st8 {
    fill: #FFFFFF;
    stroke: #CBCACB;
    stroke-miterlimit: 10;
  }
  
  .st9 {
    fill: #FFFFFF;
    stroke: #CAC9CA;
    stroke-miterlimit: 10;
  }
  
  .st10 {
    fill: #FFFFFF;
  }
  
  .st11 {
    fill: #E97D5F;
  }
  
  .st12 {
    fill: #F5D1D9;
  }
  
  .st13 {
    fill: #6E3F22;
    stroke: #6E3F22;
    stroke-miterlimit: 10;
  }
  
  .st14 {
    fill: #736741;
  }
  
  .st15 {
    fill: none;
    stroke: #736741;
    stroke-miterlimit: 10;
  }
  
  .st16 {
    fill: #836240;
  }
  
  .st17 {
    fill: #6E3F22;
  }
  
  .st18 {
    fill: none;
    stroke: #AD544D;
    stroke-miterlimit: 10;
  }
  
  .st19 {
    opacity: 0.5;
    fill: #FFFFFF;
  }
  
  .st20 {
    fill: #714923;
  }
  
  .st21 {
    fill: #93A378;
  }
  
  .st22 {
    fill: none;
    stroke: #A79880;
    stroke-miterlimit: 10;
  }
  
  .st23 {
    fill: none;
    stroke: #B6A48B;
    stroke-miterlimit: 10;
  }
  
  .st24 {
    fill: #B4A589;
  }
  
  .st25 {
    fill: #ABD2B8;
  }
  
  .st26 {
    opacity: 0.2;
    fill: #FFFFFF;
  }
  
  .st27 {
    fill: #A6947A;
  }
  
  .st28 {
    fill: #938E56;
  }
  
  .st29 {
    fill: #F4AC9E;
  }
  
  .st30 {
    fill: #A07353;
  }
  
  .st31 {
    fill: #712E0F;
  }