.tpo-footer-card-layout {
  @extend .pftp-card-layout;
  padding: 0;
  margin: 0;
  max-width: 718px;
}

.tpo-footer-nav-img {
  position: absolute;
  max-height: 40px;
  max-width: 40px;
}
.tpo-footer-nav-img__left {
  @extend .tpo-footer-nav-img;
  left: -20px;
}
.tpo-footer-nav-img__right {
  @extend .tpo-footer-nav-img;
  right: -20px;
}

.tpo-fotter-teaser__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
  .teaser__column {
    @extend .pftp-text-basic;
    font-size: 15.5px;
    font-weight: 600;
    line-height: 1.52;
    text-align: left;
    color: $headerTextColor;
    .teaser__tpoName {
      font-weight: normal;
    }
    .teaser__certified {
      width: 14px;
      height: 14px;
      vertical-align: middle;
    }
  }
}

.tpo-footer-projectspecs__item {
  display: grid;
  grid-template-columns: 26px 1fr 1fr;
  margin-bottom: 3px;
  img {
    height: 20px;
    width: 20px;
  }
  .currency-symbol {
    margin-right: 2px;
  }
  .tax-span {
    background-color: $hoverColor;
    color: #fff;
    border-radius: 12.5px;
    background-color: #b4b4b4;
    height: 10px;
    width: 23px;
    display: inline-block;
    font-size: 8px;
    margin-left: 4px;
    text-align: center;
  }
  .tree-cost-subitem {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.tpo-footer-carousel__container {
  margin-top: 50px;
  margin-left: 43px;
  margin-right: 51px;
}

.teaser__projectImage {
  height: 165px;
  background-color: $placeholderColor;
}
