.right-aligned {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.tpo-footer__container {
  position: relative;
  width: 100%;
}

.tpo-footer-card-layout {
  @extend .pftp-card-layout;
  padding: 0;
  display: block;
  margin-bottom: 40px;
  max-width: 718px;
  @include for-phone-only {
    max-width: 350px !important;
  }
  @include for-xs-phone-only {
    max-width: 290px !important;
  }

  .content-header_container {
    line-height: 2.5;
    align-items: unset;
  }
  .pftp-button-primary {
    width: inherit;
    margin: auto;
    margin-bottom: 40px;
  }
  .tpo-footer-nav-img {
    position: absolute;
    max-height: 40px;
    max-width: 40px;
    cursor: pointer;
    color: transparent;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    display: block;
    padding: 0;
    top: 50%;
    @include for-phone-only {
      max-height: 30px;
      max-width: 30px;
    }
  }
  .tpo-footer-nav-img__left {
    @extend .tpo-footer-nav-img;
    left: -55px;
    @include for-phone-only {
      left: -50px;
    }
  }
  .tpo-footer-nav-img__right {
    @extend .tpo-footer-nav-img;
    right: -55px;
    @include for-phone-only {
      right: -50px;
    }
  }

  .slick-initialized {
    margin: 35px;
    margin-top: 30px;

    .slick-slide,
    .slick-slide * {
      outline: none !important;
    }
  }
  .project-teaser__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .column {
      @extend .pftp-text-basic;
      width: 40%;
      font-size: 15.5px;
      font-weight: 600;
      line-height: 1.52;
      text-align: left;
      color: $headerTextColor;
      .teaser__tpoName {
        font-weight: normal;
      }
      .teaser__certified {
        width: 14px;
        height: 14px;
        vertical-align: middle;
        display: inline-block;
      }
    }
    .teaser-image__container {
      @extend .right-aligned;
      width: 40%;
      .teaser__projectImage {
        height: 165px;
        width: auto;
        background-color: $placeholderColor;
      }
    }
  }

  .project-specs__container {
    @extend .project-teaser__container;
    display: flex;
    flex-direction: row;
    @include for-phone-only {
      flex-direction: column;
    }
    .project-info {
      display: flex;
      flex-direction: column;
      flex-basis: 0;
      margin-right: 15px;
      flex-grow: 1;
      @include for-phone-only {
        margin-right: 0;
        flex-basis: auto;
      }
    }
    .plants-info {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      margin-left: 15px;
      flex-basis: 0;
      @include for-phone-only {
        margin-left: 0;
        flex-basis: auto;
      }
    }
    .project-specs__item {
      @extend .column;
      font-weight: normal;
      display: flex;
      justify-content: space-between;
      margin-bottom: 3px;
      width: 100%;

      .tooltip {
        height: 25px;
        margin-left: 5px;
      }

      .tooltip-text {
        display: flex;
      }

      .__react_component_tooltip {
        width: 200px;

        @include for-phone-only {
          width: 100px;
        }
      }

      .align-center {
        display: flex;
        align-items: center;
        margin-right: 5px;
        img {
          height: 20px;
          width: 20px;
          display: inline-block;
          margin: 2px;
          margin-right: 5px;
        }
      }
      .currency-symbol {
        margin-right: 2px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    .project-specs__taxdeductible {
      text-align: center;
      width: 100%;
      background-color: #fff;
      color: #b4b4b4;
    }
  }

  .plant-project-details__container {
    .tpo-footer-nav-img__left {
      max-height: 30px;
      max-width: 30px;
      left: 4px;
      z-index: 10;
    }
    .tpo-footer-nav-img__right {
      max-height: 30px;
      max-width: 30px;
      right: 4px;
      z-index: 10;
    }
    .slick-initialized {
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .project-images-carousal__container {
      background-color: $placeholderColor;
      margin-bottom: 39px;
      .image-carousal {
        width: 100%;
        height: 319px;
        border: 0;
      }
      .project-image__description {
        @extend .pftp-text-basic;
        height: 50px;
        opacity: 0.2;
        background-color: #000000;
        color: #fff;
        font-size: 16px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: left;
        vertical-align: middle;
        padding: 6px 21px 8px 30px;
      }
    }

    iframe {
      border: none;
      width: 100%;
      height: 100%;
      min-height: 353px;
    }
    .youtube-video__container {
      margin-top: 76px;
      margin-bottom: 43px;
    }
  }
}
