.header-logo {
  width: 112px;
  height: 112px;

  img {
    box-shadow: 0px 4px 12px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border: solid 6px #ffffff;
    border-radius: 100%;
    height: 100px;
    width: 100px;
  }
  .material-icons {
    @extend img;
    font-size: 112px;
  }
}

.tree-counter-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.support-button-container {
  align-self: normal;
  position: absolute;
  right: 25px;
}

@media only screen and (max-width: $breakpointTablet) {
  .tree-counter-header {
    flex-direction: column;
    justify-content: center;
  }
  .support-button-container {
    position: relative;
    align-self: center;
    right: 0;
  }
}
.tree-counter-profile {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: relative;
  margin: auto;
  margin-top: 55px;
}
.tree-counter-name {
  @extend .pftp-text-normal;
  max-width: 292px;
  font-size: 30.5px;
  text-align: center;
  text-overflow: ellipsis;
  color: $headerTextColor;
  margin-top: 27px;
  overflow: hidden;
  white-space: nowrap;
}

.tree-counter-row {
  margin-top: 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  position: relative;
}
.profile-type-container {
  width: 97px;
  height: 30px;
  background-color: #c7c7c7;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: relative;
  justify-content: center;
  .profile-type-label {
    @extend .pftp-text-normal;
    width: 77px;
    font-size: 17px;
    text-align: center;
    color: #ffffff;
    padding: 0 9px;
  }
}

.tree-counter-footer__container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  align-items: center;
}
.tree-counter-user-synopsis {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  font-size: 15.5px;
  line-height: 1.52;
  color: $headerTextColor;
}
.tree-counter-user-single-synopsis {
  @extend .tree-counter-user-synopsis;
  grid-template-columns: 1fr;
}
.tree-counter-home-page-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  img {
    width: 12px;
    height: 13px;
    margin-right: 7px;
  }
}
