.tree-counter-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.support-button-container {
  align-self: normal;
  position: absolute;
  right: 25px;
  top: 95px;
  .gift-icon {
    .display-text {
      display: block;
    }
    .display-icon {
      display: none;
    }
  }

  @include for-phone-only {
    top: 30px;
    position: relative;
    align-self: right;
    left: 20px;
    width: 25%;
    .gift-icon {
      .display-text {
        display: none;
      }
      .display-icon {
        display: block;
      }
    }
  }
  @include for-xs-phone-only {
    top: 15px;
  }
}

@media only screen and (max-width: $breakpointTablet) {
  .tree-counter-header {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
}
.tree-counter-profile {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: relative;
  margin: auto;
  margin-top: 55px;

  @include for-phone-only {
    flex-flow: row nowrap;
    margin-left: 0px;
    margin-top: 30px;
    width: 50%;
  }
}
.user-home-profile {
  @include for-phone-only {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
.tree-counter-name {
  @extend .pftp-text-normal;
  max-width: 292px;
  font-size: 30.5px;
  text-align: center;
  text-overflow: ellipsis;
  color: $headerTextColor;
  margin-top: 27px;
  overflow: hidden;
  white-space: nowrap;
  @include for-phone-only {
    white-space: initial;
    text-align: left;
    margin-top: 0;
  }
  @include for-xs-phone-only {
    font-size: 20.5px;
  }
}

.user-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  @include for-phone-only {
    margin-left: 20px;
    align-items: flex-start;
    margin-right: 20px;
  }
}
.tree-counter-row {
  margin-top: 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  position: relative;
}
.profile-type-container {
  width: 97px;
  height: 30px;
  background-color: #c7c7c7;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: relative;
  justify-content: center;
  .profile-type-label {
    @extend .pftp-text-normal;
    width: 77px;
    font-size: 17px;
    text-align: center;
    color: #ffffff;
    padding: 0 9px;
  }
}

.tree-counter-footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  .pftp-card-layout {
    max-width: 718px;
  }
}
.tree-counter-user-synopsis {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  text-align: left;
  font-size: 15.5px;
  line-height: 1.52;
  color: $headerTextColor;
  column-gap: 67px;
}
.tree-counter-user-single-synopsis {
  @extend .tree-counter-user-synopsis;
  grid-template-columns: 1fr;
}
.tree-counter-home-page-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  img {
    width: 12px;
    height: 13px;
    margin-right: 7px;
  }
}
