.tree-counter-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.full_width {
  width: 100%;
}

.support-button-container {
  align-self: normal;
  position: absolute;
  right: 25px;
  top: 95px;
  .gift-icon {
    .display-text {
      display: block;
    }
    .display-icon {
      display: none;
    }
  }

  @include for-phone-only {
    top: 30px;
    position: relative;
    align-self: right;
    left: 20px;
    width: 25%;
    .gift-icon {
      .display-text {
        display: none;
      }
      .display-icon {
        display: block;
        cursor: pointer;
        margin-top: 50px;
      }
    }
  }
  @include for-xs-phone-only {
    top: 15px;
  }
}

@media only screen and (max-width: $breakpointTablet) {
  .tree-counter-header {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
}
.tree-counter-profile {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
  margin: auto;
  margin-top: 55px;

  @include for-phone-only {
    margin-left: 0px;
    margin-top: 30px;
    width: 50%;
    margin-left: 10px;
  }
}
.user-home-profile {
  @include for-phone-only {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
.tree-counter-name {
  @extend .pftp-text-normal;
  max-width: 292px;
  font-size: 26.5px;
  text-align: left;
  // text-overflow: ellipsis;
  color: $headerTextColor;
  // overflow: hidden;
  // white-space: nowrap;
  @include for-phone-only {
    white-space: initial;
    text-align: left;
    margin-top: 0;
    font-size: 20px;
  }
  @include for-xs-phone-only {
    font-size: 18px;
  }
}

.profile-type-image {
  width: 30px;
}

.user-info {
  margin-left: 20px;
  align-items: flex-start;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-self: center;
  @include for-xs-phone-only {
    margin-left: 10px;
  }
}

.tree-counter-row {
  margin-top: 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  position: relative;

  .pftp-button-follow {
    @include for-phone-only {
      padding: 0 12px;
    }
    @include for-xs-phone-only {
      padding: 0 6px;
    }
  }
  .profile-type-container {
    width: 100%;
    height: 100%;
    min-height: 30px;
    background-color: #c7c7c7;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
    justify-content: center;
    .profile-type-label {
      @extend .pftp-text-normal;
      width: 100%;
      font-size: 17px;
      text-align: center;
      color: #ffffff;
      padding: 0 9px;
    }
  }
}

.tree-counter-footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 500px;
  .pftp-card-layout {
    max-width: 718px;
    width: 100%;
  }
}
.tree-counter-user-synopsis {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  text-align: left;
  font-size: 15.5px;
  line-height: 1.52;
  color: $headerTextColor;
  column-gap: 67px;
}
.tree-counter-user-single-synopsis {
  @extend .tree-counter-user-synopsis;
  grid-template-columns: 1fr;
}
.tree-counter-home-page-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  img {
    width: 12px;
    height: 13px;
    margin-right: 7px;
  }
}

.width_group_footer {
  width: 60%;
}
.group_user_table {
  display: flex;
  flex-direction: column;
  width: 100%;

  .table-header {
    padding: 8px 0;
    display: flex;
    border-bottom: 2px solid #e6e6e6;

    .table-header-item {
      display: flex;
      justify-content: flex-start;
    }

    .target {
      flex: 0 0 20%;
      justify-content: flex-end;
    }

    .planted {
      @extend .target;
    }

    .support {
      @extend .target;
    }

    .contributor {
      flex: 0 0 40%;
      padding-left: 0;
    }
  }

  .table-row {
    display: flex;
    padding: 15px 0;

    .table-col {
      display: flex;
    }

    .target {
      flex: 0 0 20%;
      justify-content: flex-end;
    }

    .support-button-group-footer {
      padding: 5px;
      font-size: 15px;
      margin: 0;
      border-radius: 2px;
      width: 75px;
    }

    .planted {
      @extend .target;
    }

    .support {
      @extend .target;
    }

    .contributor {
      flex: 0 0 40%;
      padding-left: 0;
      justify-content: flex-start;
    }
  }
}
