@import "../../../web/stylesheet/NDVI/ndvi-container.scss";
@import "../../../web/stylesheet/NDVI/info.scss";
@import "../../../web/stylesheet/NDVI/legend.scss";
@import "../../../web/stylesheet/NDVI/gradient-result-line.scss";
@import "../../../web/stylesheet/NDVI/time-series.scss";
@import "../../../web/stylesheet/NDVI/circle.scss";
@import "../../../web/stylesheet/NDVI/carbon-details.scss";

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.letter-box {
  flex: 1;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
}
