{
  "presets": [
    [
      "@babel/preset-env", {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"],
          "node": "6.9.1"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/transform-react-jsx",
    "transform-remove-console"
  ]
}
